<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The NHSX website">

    <title>NHSX website</title>

    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
    <link rel="icon" sizes="32x32" type="image/png" href="assets/favicon.png">

    <link rel="stylesheet" href="css/main.min.css">

    <script src="js/main.bundle.min.js" defer></script>
  </head>

  <body>
    {% block body %}{% endblock %}
  </body>

</html>
