<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}NHSX - a new unit driving forward the digital transformation of health and care.{% endif %}">

    <title>{% if pageTitle %}{{pageTitle}} - NHSX{% else %}NHSX{% endif %}</title>

    <link rel="stylesheet" href="/css/main.min.css">

    <script src="/js/main.bundle.min.js" defer></script>

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>
    <link href="https://www.nhs.uk/" rel="preconnect  dns-prefetch">
    <link href="https://assets.nhs.uk/" rel="preconnect  dns-prefetch" crossorigin>

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">

    {% if ADOBE_TRACKING_URL %}
    <!-- Adobe Analytics -->
    <script src="{{ ADOBE_TRACKING_URL }}" type="text/plain" data-cookieconsent="statistics" async></script>
    {% endif %}

    {%- if COOKIE_CONSENT_URL %}
    <!-- Cookie consent banner -->
    <script src="{{ COOKIE_CONSENT_URL }}" type="text/javascript" data-cookieconsent="necessary" async></script>
    {% endif %}
  </head>

  <body>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

    {% include 'includes/header.njk' %}

    {% block outerBody %}{% endblock %}

    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="maincontent">
        {% block body %}{% endblock %}
      </main>
    </div>

    {% include 'includes/footer.njk' %}
  </body>

</html>
