<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if pageDescription %}{{pageDescription}}{% else %}NHSX - a new unit driving forward the digital transformation of health and care.{% endif %}">

    <title>{% if pageTitle %}{{ pageTitle }} - NHSX{% else %}NHSX{% endif %}</title>

    <link rel="stylesheet" href="/css/main.min.css">

    <script src="/js/main.bundle.min.js" defer></script>

    <link href="https://www.nhs.uk/" rel="preconnect">
    <link href="https://assets.nhs.uk/" rel="preconnect" crossorigin>
    <link href="https://www.googletagmanager.com" rel="preconnect">
    <link href="https://www.google-analytics.com" rel="preconnect">

    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" rel="preload" as="font" crossorigin>
    <link type="font/woff2" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" rel="preload" as="font" crossorigin>

    <link rel="manifest" href="/manifest.json">

    <!--[if IE]><link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico"><![endif]-->
    <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon.png">
    <link rel="icon" href="/nhsuk-frontend/assets/favicons/favicon.png">

    {%- if COOKIE_CONSENT_URL %}
    <!-- Cookie consent banner -->
    <script src="{{ COOKIE_CONSENT_URL }}" type="text/javascript" data-cookieconsent="necessary" async></script>
    {% endif %}

    {%- if GOOGLE_UA %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_UA }}" type="text/plain" data-cookieconsent="statistics" async></script>
    <script type="text/plain" data-cookieconsent="statistics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ GOOGLE_UA }}');
    </script>
    {% endif %}

    <!-- Open Graph -->
    <meta property="og:url" content="https://www.nhsx.nhs.uk/"/>
    <meta property="og:site_name" content="nhs.uk"/>
    <meta property="og:title" content="{% if pageTitle %}{{ pageTitle }} - NHSX{% else %}NHSX{% endif %}"/>
    <meta property="og:description" content="{% if pageDescription %}{{pageDescription}}{% else %}NHSX - a new unit driving forward the digital transformation of health and care.{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_GB"/>
    <meta property="og:image" content="{% if BASE_URL %}{{ BASE_URL }}{% endif %}/assets/open-graph.png" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@nhsx" />
    <meta name="twitter:creator" content="@nhsx" />
  </head>
  <body>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

    {% include 'includes/header.njk' %}

    {% block outerBody %}{% endblock %}

    {% if pageLayout != 'Homepage' %}
    <div class="nhsuk-width-container">
      <main class="nhsuk-main-wrapper" id="maincontent">
        {% block body %}{% endblock %}
      </main>
    </div>
    {% endif %}

    {% include 'includes/footer.njk' %}
  </body>

</html>
