$color_nhsx-blue: #003087;

// NHSX header

.nhsuk-header--nhsx {
  background-color: $color_nhsx-blue;
}

@include mq($from: large-desktop) {
  .nhsuk-header__navigation--nhsx {
    background-color: $color_nhsx-blue;
  }
}

.nhsuk-header__link--nhsx,
.nhsuk-header__logo--nhsx .nhsuk-logo--nhsx {
  width: 120px;
}

.nhsuk-header__menu-toggle--nhsx:hover,
.nhsuk-header__menu-toggle--nhsx:active,
.nhsuk-header__menu-toggle--nhsx.is-active {
  background-color: $color_nhsuk-black;
  color: $color_nhsuk-grey-5;
}

// NHSX navigation

.nhsuk-header__navigation-link--nhsx:hover {
  background-color: $color_nhsx-blue;
}

@include mq($from: large-desktop) {
  .nhsuk-header__navigation-link--nhsx:hover {
    background-color: $color_nhsuk-black;
  }
}

.nhsuk-header__navigation-link--nhsx:active {
  background-color: $color_nhsuk-black;
  color: $color_nhsuk-grey-5;
}

// NHSX hero

.nhsuk-hero--nhsx {
  .nhsuk-hero-content--nhsx {
    background-color: $color_nhsx-blue;

    .nhsuk-hero__arrow--nhsx {
      &:before,
      &:after {
        border: solid 32px $color_nhsx-blue;
      }
    }

  }
}

// NHSX sections

.nhsx-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.nhsx-section--white {
  background-color: $color_nhsuk-white;
}

// NHSX videos

.nhsx-promo--grey,
.nhsx-content--grey {
  background-color: $color_nhsuk-grey-5;
}

.nhsx-promo--white,
.nhsx-content--white {
  background-color: $color_nhsuk-white;
}

.nhsx-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.nhsx-embed-container iframe {
  border: 0;
}

.nhsx-embed-container iframe,
.nhsx-embed-container object,
.nhsx-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// NHSX footer

.nhsuk-footer--nhsx {
  border-top: 4px solid $color_nhsx-blue;
}

// Utilities

.nhsx-u-border-top {
  border-top: 2px solid $color_nhsx-blue;
  margin-top: 8px;
}

.nhsx-u-border-top h3 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.nhsx-u-border-top ul {
  list-style: none;
  padding-left: 0;
}

// Issue with nested list margins
.nhsx-u-nested-list {
  margin-bottom: 0;
}

.nhsx-u-nested-list > li {
  @include nhsuk-responsive-margin(2, 'top');
}

// Issue with spacing on the hero component
.nhsx-u-hero-spacing {
  padding-top: 80px;

  @include mq($from: 380px) {
    padding-top: 24px;
  }

  @include mq($from: tablet) {
    padding-top: 96px;
  }
}
