$color_nhsx-blue: #003087;

// NHSX header

.nhsuk-header--nhsx {
  background-color: $color_nhsx-blue;
}

@include mq($from: large-desktop) {
  .nhsuk-header__navigation--nhsx {
    background-color: $color_nhsx-blue;
  }
}

.nhsuk-header__link--nhsx,
.nhsuk-header__logo--nhsx .nhsuk-logo--nhsx {
  width: 120px;
}

.nhsuk-header__menu-toggle--nhsx:hover,
.nhsuk-header__menu-toggle--nhsx:active,
.nhsuk-header__menu-toggle--nhsx.is-active {
  background-color: $color_nhsuk-black;
  color: $color_nhsuk-grey-5;
}

// NHSX navigation

.nhsuk-header__navigation-link--nhsx:hover {
  background-color: $color_nhsx-blue;
}

@include mq($from: large-desktop) {
  .nhsuk-header__navigation-link--nhsx:hover {
    background-color: $color_nhsuk-black;
  }
}

.nhsuk-header__navigation-link--nhsx:active {
  background-color: $color_nhsuk-black;
  color: $color_nhsuk-grey-5;
}

// NHSX hero

.nhsuk-hero--nhsx {
  .nhsuk-hero-content--nhsx {
    background-color: $color_nhsx-blue;

    .nhsuk-hero__arrow--nhsx {
      &:before,
      &:after {
        border: solid 32px $color_nhsx-blue;
      }
    }

  }
}

// NHSX sections

.nhsx-section--white {
  background-color: $color_nhsuk-white;
}

// NHSX footer

.nhsuk-footer--nhsx {
  border-top: 4px solid $color_nhsx-blue;
}


// Utilities

// Issue with nested list margins
.nhsx-u-nested-list {
  margin-bottom: 0;
}

.nhsx-u-nested-list > li {
  @include nhsuk-responsive-margin(2, 'top');
}

// Issue with spacing on the hero component
.nhsx-u-hero-spacing {
  padding-top: 80px;

  @include mq($from: 380px) {
    padding-top: 24px;
  }

  @include mq($from: tablet) {
    padding-top: 96px;
  }
}
