{% set pageTitle = "Accessibility statement" %}
{% set pageDescription = "We aim to make the NHSX website as accessible and easy to use as possible." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies">Our policies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/our-policies">Back to Our policies</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Accessibility statement</h1>
    <p>We aim to make the NHSX website as accessible and easy to use as possible. We've designed our pages to meet the <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines</a> to level AA and we've tested them with users with access needs.</p>

    <h2>How to contact us</h2>
    <p>If you have any questions about accessibility, please email us at <a href="mailto:england.nhsx@nhs.net">england.nhsx@nhs.net</a>. We will respond within 5 working days.</p>

  </div>
</div>
{% endblock %}
