{% set pageTitle = "Cookies" %}
{% set pageDescription = "We use 3 main types of cookie on our website. You can choose which cookies you're happy for us to use." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies">Our policies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/our-policies">Back to Our policies</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Cookies</h1>
    <p>Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
    <p>They store information about how you use the website, such as the pages you visit.</p>
    <p>Cookies are not viruses or computer programmes. They are very small so do not take up much space.</p>

    <div class="nhsuk-panel nhsuk-u-padding-bottom-1">
      <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">

        <fieldset class="nhsuk-fieldset" id="cookie-preferences-form" aria-describedby="cookie-preferences">

          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            Turn cookies on or off
          </legend>

          <p id="cookie-preferences">We use 3 main types of cookie on our website. You can choose which cookies you're happy for us to use.</p>

          <h3>Cookies needed for the website to work</h3>
          <p>These cookies do things like keep the website secure. They always need to be on.</p>

          <h3>Cookies that remember your settings</h3>
          <p>These cookies do things like remember pop-ups you’ve seen, so you're not shown them again.</p>

          <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="input-preferences-1" name="input-preferences" type="radio" value="on">
              <label class="nhsuk-label nhsuk-radios__label" for="input-preferences-1">
              On
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="input-preferences-2" name="input-preferences" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="input-preferences-2">
              Off
              </label>
            </div>
          </div>

          <h3>Cookies that measure website use</h3>
          <p>These cookies store anonymous information about how you use our website, such as what you click on.</p>

          <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="input-statistics-1" name="input-statistics" type="radio" value="on">
              <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
              On
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="input-statistics-2" name="input-statistics" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
              Off
              </label>
            </div>
          </div>

        </fieldset>

        <button onclick="changeConsent(); reloadPage();" type="submit" class="nhsuk-button">
          Save my settings
        </button>

        <p><a href="/our-policies/cookie-declaration">More details about our cookies</a></p>

      </div>

      <script>
        // function to check the checkboxes based on status of cookie preferences
        window.addEventListener("load", function checkCookie() {
            loadSuccessBanner();
            document.getElementById("input-preferences-1").checked = NHSCookieConsent.getPreferences();
            document.getElementById("input-preferences-2").checked = !NHSCookieConsent.getPreferences();

            document.getElementById("input-statistics-1").checked = NHSCookieConsent.getStatistics();
            document.getElementById("input-statistics-2").checked = !NHSCookieConsent.getStatistics();
        });

        // function to edit consent preferences based on check box input
        function changeConsent() {
          NHSCookieConsent.setPreferences(document.getElementById("input-preferences-1").checked);
          NHSCookieConsent.setStatistics(document.getElementById("input-statistics-1").checked);
        }

        function reloadPage() {
          if(document.location.search === "?cookie-changed=1") {
            document.location.reload();
          } else {
            document.location.search = "?cookie-changed=1";
          }
        }

        function loadSuccessBanner() {
          var url = window.location.href;
          if (url.indexOf('cookie-changed=1') > 0) {
            var html = "<div id='nhsuk-cookie-confirmation-banner' role='banner'>" +
              "<div class='nhsuk-width-container'>" +
              "<p>Your cookie settings have been saved.</p>" +
              "</div>" +
              "</div>" +
              "<style>" +
              "  #nhsuk-cookie-confirmation-banner {" +
                            "background-color: #007f3b;" +
                            "color: #fff;" +
                            "padding: 8px 0 8px 0;" +
                            "position: relative;" +
                          "}" +
                          "#nhsuk-cookie-confirmation-banner p {" +
                            "margin: 0;" +
                          "}" +
                          "</style>";
            var div = document.createElement('div');
            div.innerHTML = html;
            document.body.insertBefore(div, document.body.firstChild);
          }
        }
      </script>
    </div>

  </div>
</div>
{% endblock %}
