{% set pageTitle = "Details about the cookies we use" %}
{% set pageDescription = "This is a list of all the cookies we use on the NHSX website." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies">Our policies</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies/cookies-policy">Cookies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/our-policies/cookies-policy">Back to Cookies</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>{{ pageTitle }}</h1>
      <p class="nhsuk-lede-text">Let us know which cookies we can use. We'll use a cookie to save your settings.</p>
    </div>

    <div class="nhsuk-u-reading-width">
      <h2>Cookies that measure website use</h2>
      <p>These cookies store anonymous information about how you use our website, such as what you click on.</p>
    </div>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          List of cookies that measure website use
        </span>
      </summary>
      <div class="nhsuk-details__text">

        <div class="nhsuk-table-responsive app-table-responsive--cookies">
          <table class="nhsuk-table" role="”table”">
            <caption class="nhsuk-table__caption">Cookie names and purposes</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row" role="row">
                <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
                <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
                <th class="nhsuk-table__header" role="columnheader" scope="col">Expiry</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row" role="row">
                <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_ga</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Google Analytics. Tells us how you use our website.</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Expiry">2 years</td>
              </tr>
              <tr class="nhsuk-table__row" role="row">
                <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_gid</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Google Analytics. Sets a unique ID for your session to help tell us how you use our website.</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 day</td>
              </tr>
              <tr class="nhsuk-table__row" role="row">
                <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_gat</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Used by Google Analytics. Helps stop Google Analytics web servers crashing when collecting information on how you use our website.</td>
                <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 min</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </details>

    <div class="nhsuk-u-reading-width">

      <fieldset class="nhsuk-fieldset" id="cookie-statistics-form" aria-describedby="cookie-statistics">
        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="input-statistics-1" name="input-statistics" type="radio" value="on">
            <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-1">
            Use cookies to measure my website use
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="input-statistics-2" name="input-statistics" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="input-statistics-2">
            Do not use cookies to measure my website use
            </label>
          </div>
        </div>
      </fieldset>

      <a href="/our-policies/cookie-confirmation" onclick="changeConsent();" type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0">
        Save my cookie settings
      </a>

    </div>

    <div class="nhsuk-review-date">
      <p class="nhsuk-body-s">Updated: January 2020</p>
    </div>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  // Check the checkboxes based on status of cookie preferences
  window.addEventListener("load", function checkCookie() {
      document.getElementById("input-statistics-1").checked = NHSCookieConsent.getStatistics();
      document.getElementById("input-statistics-2").checked = !NHSCookieConsent.getStatistics();
  });

  // Edit consent preferences based on checkbox input
  function changeConsent() {
  NHSCookieConsent.setStatistics(document.getElementById("input-statistics-1").checked);

    if(typeof NHSCookieConsent.setConsented === "function") {
      NHSCookieConsent.setConsented(true);
    }

  }
</script>
{% endblock %}
