{% set pageTitle = "Details about the cookies we use" %}
{% set pageDescription = "This is a list of all the cookies we use on the NHSX website." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies">Our policies</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies/cookies-policy">Cookies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/our-policies/cookies-policy">Back to Cookies</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-u-reading-width">
      <h1>Details about the cookies we use</h1>
      <p>This is a list of all the cookies we use on the NHSX website.</p>
      <p>If there's a group of cookies you do not want us to put on your device, you can <a href="/our-policies/cookies-policy">turn cookies on or off</a>.</p>

      <h2>Cookies needed for the website to work</h2>
      <p>These cookies do things like keep the website secure. They always need to be on.</p>
    </div>

    <div class="nhsuk-panel">
      <div class="nhsuk-table-responsive nhsx-table-responsive--nhsx">
        <table class="nhsuk-table" role="”table”">
          <caption class="nhsuk-table__caption">Cookie names and purposes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row" role="row">
              <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
              <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
              <th class="nhsuk-table__header" role="columnheader" scope="col">Expiry</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row" role="row">
              <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">ARRAffinity</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Helps our website work faster.</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Expiry">Session</td>
            </tr>
            <tr class="nhsuk-table__row" role="row">
              <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">nhsuk-cookie-consent</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Tells us your cookie preferences so we can act upon them</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Expiry">2 years</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="nhsuk-u-reading-width">
      <h2>Cookies that remember your settings</h2>
      <p>These cookies do things like remember pop-ups you've seen, so you're not shown them again.</p>
    </div>

    <div class="nhsuk-panel">
      <p>We do not currently set any cookies of this type.</p>
    </div>

    <div class="nhsuk-u-reading-width">
      <h2>Cookies that measure website use</h2>
      <p>These cookies store anonymous information about how you use our website, such as what you click on.</p>
    </div>

    <div class="nhsuk-panel">
      <div class="nhsuk-table-responsive nhsx-table-responsive--nhsx">
        <table class="nhsuk-table" role="”table”">
          <caption class="nhsuk-table__caption">Cookie names and purposes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row" role="row">
              <th class="nhsuk-table__header" role="columnheader" scope="col">Cookie name</th>
              <th class="nhsuk-table__header" role="columnheader" scope="col">Purpose</th>
              <th class="nhsuk-table__header" role="columnheader" scope="col">Expiry</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row" role="row">
              <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_ga</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Tells us how you use our website with Google analytics</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Expiry">2 years</td>
            </tr>
            <tr class="nhsuk-table__row" role="row">
              <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_gid</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Tells us how you use our website with Google analytics</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 day</td>
            </tr>
            <tr class="nhsuk-table__row" role="row">
              <td class="nhsuk-table__cell" role="cell" data-label="Cookie name">_gat_gtag_UA_137452494_1	</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Purpose">Helps stop Google analytics web servers crashing.</td>
              <td class="nhsuk-table__cell" role="cell" data-label="Expiry">1 min</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
{% endblock %}
