{% set pageTitle = "Our policies" %}
{% set pageDescription = "Our website policies cover accessibility, cookies, how we handle the data we collect and our terms of use." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Our policies</h1>

    <ul>
      <li><a href="/our-policies/accessibility">Accessibility statement</a></li>
      <li>
        <a href="/our-policies/cookies-policy">Cookies</a>
        <ul class="nhsx-u-nested-list">
          <li>
            <a href="/our-policies/cookie-declaration">Details about the cookies we use</a>
          </li>
        </ul>
      </li>
      <li><a href="/our-policies/privacy-policy">Privacy policy</a></li>
      <li><a href="/our-policies/terms-and-conditions">Terms and conditions</a></li>
    </ul>

  </div>
</div>
{% endblock %}
