{% set pageTitle = "Privacy policy" %}
{% set pageDescription = "This privacy policy tells you what information we collect when you use the NHSX website." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies">Our policies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/our-policies">Back to Our policies</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Privacy policy</h1>
    <p>NHS England and NHS Improvement and the Department of Health and Social Care are delivering NHSX together.</p> 
    <p>These 2 privacy notices apply:</p>
    <ul>
      <li><a href="https://www.gov.uk/help/privacy-policy">Department of Health and Social Care privacy notice</a> (GOV.UK)</li>
      <li><a href="https://www.england.nhs.uk/nhse-nhsi-privacy-notice/">NHS England and NHS Improvement privacy notice</a> (NHS England)</li>
    </ul>  

  </div>
</div>
{% endblock %}
