{% set pageTitle = "Terms and conditions" %}
{% set pageDescription = "This website is hosted by NHS England. These terms govern your use of it." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/our-policies">Our policies</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/our-policies">Back to Our policies</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Terms and conditions</h1>

    <h2>Summary</h2>
    <p class="nhsuk-body-l">Use of this website is governed by these terms and conditions.</p>

    <h2>1. About these terms</h2>
    <p>1.1&nbsp;&nbsp; &nbsp;Please read these terms and conditions carefully before you start to use this website (<a href="https://www.nhsx.nhs.uk">www.nhsx.nhs.uk</a> and all sections and pages). This website is hosted by NHS England and any references to NHSX means NHS England as host. You may access and use this website if you agree to be legally bound by these terms and conditions set out here.</p>

    <p>If you do not agree to be legally bound by these terms and conditions, please do not access and/or use this website. We recommend that you print a copy of these terms and conditions for future reference.</p>
    <p>1.3&nbsp;&nbsp; &nbsp;References in these terms and conditions to "NHSX", "we", "our" and "us" means the non-departmental public body responsible for driving digital transformation and leading policy, implementation and change for the NHS by working with partner organisations and teams from the Department of Health and Social Care, NHS England and NHS Improvement. The entire content of this website, and the individual articles, items, media files and assets published are owned by NHSX, unless otherwise indicated.</p>
    <p>1.4&nbsp;&nbsp; &nbsp;This website is intended for use only by people who live in the United Kingdom. References to "the NHS" mean "the NHS in England", unless otherwise stated. Services and arrangements may differ elsewhere in the UK.</p>
    <p>1.5&nbsp;&nbsp; &nbsp;If you have any queries in respect of your use of this website, please contact us at: <a href="mailto:england.nhsx@nhs.net">england.nhsx@nhs.net</a>.</p>
    <p>1.6&nbsp;&nbsp; &nbsp;We may make changes to these terms and conditions, the terms and conditions applicable to any specific sub-site, the <a href="/our-policies/privacy-policy">privacy</a> and <a href="/our-policies/cookies-policy">cookies policy</a> and any other policies applicable to your use of this website, at any time. Your continuing use of this website constitutes your acceptance of and agreement to any such changed terms and conditions and policies.</p>
    <p>1.7&nbsp;&nbsp; &nbsp;Every time you wish to use our site, please check these terms to make sure you understand the terms that apply at the time.</p>
    <p>1.8&nbsp;&nbsp; &nbsp;We may update and change our site from time to time to reflect changes to our users&rsquo; needs and developing priorities for technology, digital and data improvement across the NHS.</p>
    <p>1.9&nbsp;&nbsp; &nbsp;To the extent that we are practically able to do so, we may terminate your access to any part of this website at any time without notice if you breach any of these terms and conditions.</p>


    <h2>2. Accessibility and browsers</h2>
    <p>2.1&nbsp;&nbsp; &nbsp;NHSX aims to make this website and the material provided accessible to as many people as possible. This website is designed to work with the latest versions of Microsoft Edge, Google Chrome and Apple Safari, and uses standards which should work on the majority of browsers in use. &nbsp;We offer no warranty for this website working in any particular browser or configuration. Please note that you may see inconsistencies in the presentation of pages if you are using an older or deprecated version of a browser. Read further information on the <a href="/our-policies/accessibility">accessibility of this website.</a></p>

    <h2>3. Information about you and your visits to this website</h2>
    <p>3.1&nbsp;&nbsp; &nbsp;NHSX processes information about you in accordance with our <a href="/our-policies/privacy-policy">privacy policy</a> and <a href="/our-policies/cookies-policy">cookies policy</a>. By using this website, you consent to such processing and you warrant that all data provided by you is accurate.</p>

    <h2>4. Freedom of Information</h2>
    <p>4.1&nbsp;&nbsp; &nbsp;The data rights and responsibilities of NHSX, its staff and of patients is governed by the Freedom of Information Act 2000 and the EU General Data Protection Regulation. For policy and other information, see <a href="https://www.england.nhs.uk/contact-us/pub-scheme/">Freedom of Information</a> (NHS England website).</p>

    <h2>5. Prohibited uses of this website</h2>
    <p>5.1&nbsp;&nbsp; &nbsp;You may use this website only for lawful purposes. You may not use this website:</p>
    <ul>
      <li>in any way that breaches any applicable local, national or international law or regulation</li>
      <li>in any way that is unlawful, fraudulent or harmful to other users, or has any unlawful, fraudulent or harmful purpose or effect</li>
      <li>to send, knowingly receive, upload, download, use or re-use any material which does not comply with these terms and conditions</li>
      <li>to transmit, or produce the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam) and</li>
      <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, spyware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
    </ul>
    <p>5.2&nbsp;&nbsp; &nbsp;You also agree not to access without authority, interfere with, damage or disrupt:</p>
    <ul>
      <li>any part of this website</li>
      <li>any equipment or network on which this website is stored</li>
      <li>any software used in the provision of this website or</li>
      <li>any equipment or network or software owned or used by any third-party.</li>
    </ul>

    <h2>6. Material on this website</h2>
    <p>6.1&nbsp;&nbsp; &nbsp;The material on this website includes information, data, text, images, videos,&nbsp; interactive services, link to products and apps and other works (&ldquo;NHSX Content&rdquo;). &nbsp;You acknowledge that all rights in copyright, patents, design rights, trade marks and other intellectual property rights (whether registered, capable of registration or otherwise) throughout the world, in this website and all NHSX Content are owned by, or licensed to NHSX, unless otherwise indicated. Some NHSX Content includes identifiable third-party content for which we will have sought permission for its inclusion.</p>
    <p>6.2&nbsp;&nbsp; &nbsp;Except for your use of this website in accordance with these terms and conditions, you are granted no rights in respect of this website or any NHSX Content.</p>

    <h2>7. Your use of NHSX Content</h2>
    <p>7.1&nbsp;&nbsp;&nbsp;Copyright and database rights in the NHSX Content are released free-of-charge under the current version of the Open Government Licence ("OGL"), except where specified, either in these terms and conditions, elsewhere on this website or in the OGL terms. &nbsp;This licence does not extend to any other intellectual property rights, including but not limited to patents, design rights and trade marks. If there is any conflict between the OGL terms and these terms and conditions, these terms and conditions shall take precedence.</p>
    <p>7.2&nbsp;&nbsp; &nbsp;This means that you can use NHSX Content, including copying it, adapting it, and using it for any purpose, including commercially, provided you follow these terms and conditions and the terms of the OGL.</p>
    <p>7.3&nbsp;&nbsp; &nbsp;The OGL terms do not apply to the following categories of NHSX Content, and therefore these must not be used without our or the relevant owner&rsquo;s prior consent:</p>
    <ul>
      <li>any logos, visuals, image rights, trademarks, trade names and design styles (except where these are integral to a document or data set) of NHSX, or any predecessor or linked body, as well as of any partner or contributor</li>
      <li>software, source code and any technical documentation relating to software or source code except where released on <a href="https://developer.nhs.uk">https://developer.nhs.uk</a>, a public repository on GitHub, or any other platform we may specify from time-to-time</li>
      <li>information owned by third parties which we are not authorised to licence on to you. This information will be clearly marked. If in doubt, contact us using the details above</li>
      <li>information gained through any services or sections on this website (or linked websites) which can only be accessed by logged-in users, and</li>
      <li>any information which is marked as being under a different licence, or not for release.</li>
    </ul>

    <p>7.4&nbsp;&nbsp; &nbsp;If you do use any NHSX Content you must attribute it with the following statement:</p>
    <p>&ldquo;Information from NHSX, licenced under the current version of the Open Government Licence&rdquo;</p>
    <p>or in cases where the NHSX Content is combined, adapted, or otherwise modified in line with these terms and conditions:</p>
    <p>&ldquo;Contains information from NHSX, licenced under the current version of the Open Government Licence&rdquo;.</p>
    <p>7.5&nbsp;&nbsp; &nbsp;By using any NHSX Content you accept and agree to the following terms:</p>
    <ul>
      <li>you must not alter, adapt, edit or modify any NHSX branding where this is integral to a document or data set</li>
      <li>if you do alter, adapt, edit or modify any NHSX Content in accordance with these terms and conditions, where possible, you should remove the NHSX branding</li>
      <li>you may not directly or indirectly suggest any endorsement or approval by NHSX of your site or any non-NHSX entity, product or content or any views expressed within your site or service</li>
      <li>NHSX has absolute editorial control over all NHSX Content and reserves the right to alter, adapt, edit, modify or restrict the availability of NHSX Content without prior notice, and</li>
      <li>you should refresh cached content every 24 hours to make sure you have the most up-to-date version.</li>
    </ul>
    <h2>8. Uploading material to this website</h2>
    <p>8.1&nbsp;&nbsp; &nbsp;Whenever you make use of a feature that allows you to upload material to this website, for example when you participate in online discussions, contact other users of this website or submit any apps or products, you must comply with the standards set out in the comments and moderation policy. You warrant that any such contribution does comply with those standards, and you indemnify us for any breach of that warranty. You acknowledge that such uploaded material has not been verified or approved by us.</p>
    <p>8.2&nbsp;&nbsp; &nbsp;Any material you upload to this website will be considered non-confidential and non-proprietary, and NHSX has the right to use, copy, distribute and disclose to third-parties any such material for any purpose. Furthermore NHSX also has the right to disclose your identity to any third-party who is claiming that any material posted or uploaded by you to this website constitutes a violation of their intellectual property rights, or their right to privacy.</p>
    <p>8.3&nbsp;&nbsp; &nbsp;NHSX will not be responsible, or liable to any third-party, for the content or accuracy of any materials posted by you or any other user of this website.</p>
    <p>8.4&nbsp;&nbsp; &nbsp;NHSX has the right to remove any material or posting you make on this website if, in our opinion, such material does not comply with the standards set out in these terms and conditions and the comments and moderation policy.</p>
    <p>8.5&nbsp;&nbsp; &nbsp;Comments posted should relate to your personal experience or that of someone close to you. You should not name any individuals (other than yourself) or include information through which someone else could identify an individual about whom you are writing. If you want to comment on someone else&rsquo;s experience, (e.g. a relative or someone you care for), then you may do so if you make sure that you are not named in the posting and you state how the other person is connected to you (e.g. &ldquo;my father&rdquo;). You warrant that all statements of fact in any comment you submit are true, and that any expression of opinion is your honestly held opinion on those facts, or that of the person on whose behalf you are writing.</p>
    <p>8.6&nbsp;&nbsp; &nbsp;If you find any comments offensive or objectionable, you may make a complaint to the moderator using the &lsquo;Report&rsquo; link provided at the foot of each published comment.</p>
    <p>8.7&nbsp;&nbsp; &nbsp;We have many measures in place to keep your information safe. But it is important that you also play your part &ndash; visit the Government's Get Safe Online website for advice on how to do this.</p>

    <h2>9. Social media, bookmarking, and digital engagement</h2>
    <p>9.1&nbsp;&nbsp; &nbsp;NHSX may from time to time provide third party or owned social media and interactive services on this website or linked to this website. Currently this includes and is not limited to:</p>
    <ul>
      <li>YouTube &ndash; for sharing video content</li>
      <li>Twitter &ndash; for sharing news and participating in conversations with users</li>
      <li>blogs &ndash; &nbsp;to share the opinions of NHSX&rsquo;s staff and other key figures</li>
      <li>discussion forums &ndash; for participation in conversations with users</li>
      <li>RSS feeds &ndash; for sharing news</li>
      <li>social bookmarking &ndash; to allow users to share our content more easily on popular social media platforms.</li>
    </ul>
    <p>9.2&nbsp;&nbsp; &nbsp;NHSX is under no obligation to oversee, monitor or moderate any interactive services we provide from this website, and we expressly exclude our liability for any loss or damage arising from the use of these interactive services by a user in contravention of these terms and conditions, whether the service is moderated or not.</p>
    <p>9.3&nbsp;&nbsp; &nbsp;Our RSS feeds can be used as part of your website; however, we do require that proper format and attribution are used. The attribution text should read &ldquo;NHSX RSS feeds&rdquo;. We reserve the right from time to time to restrict the distribution of NHSX RSS feed content and do not accept any liability for these feeds.</p>
    <p>9.4&nbsp;&nbsp; &nbsp;Use of our social bookmarking links is subject to these terms and conditions. See &lsquo;Linking from this website&rsquo; below.</p>
    <p>9.5&nbsp;&nbsp; &nbsp;Although we do monitor and review discussions, chat, postings, transmissions, bulletin boards and the like on this website and its subsections, we are under no obligation to do so and assume no responsibility or liability arising from the content of any such locations nor for any error, omission, infringement, defamation, obscenity, or inaccuracy contained in any information within such locations on this website.</p>
    <p>9.6&nbsp;&nbsp; &nbsp;The use of any of the interactive features on this website by a minor is subject to the consent of their parent or guardian, and we advise parents to communicate with their children about their safety online, as moderation is not foolproof. Minors who are using any interactive service should be made aware of the potential risks to them. Where we do moderate any of the interactive features on this website, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.</p>
    <h2>10. Linking to this website</h2>
    <p>10.1&nbsp;&nbsp; &nbsp;We do not object to you linking directly to pages on this website, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it. We reserve the right to move or change this website&rsquo;s URLs at any time. Rather than deep linking, we recommend linking to section homepages, which are less likely to move or change.</p>
    <p>10.2&nbsp;&nbsp; &nbsp;However, we don&rsquo;t give permission to suggest that your website is associated, or endorsed by us.</p>
    <p>10.3&nbsp;&nbsp; &nbsp;We reserve the right to withdraw linking permission without notice.</p>

    <h2>11. Linking from this website</h2>
    <p>11.1&nbsp;&nbsp; &nbsp;We are not responsible for the content or reliability of the websites we link to and do not necessarily endorse the views expressed within them. We aim to replace broken links to other sites but cannot guarantee that these links will always work as we have no control over the availability of other sites.</p>
    <p>11.2&nbsp;&nbsp; &nbsp;Due to the very nature of the internet we cannot guarantee this website or other websites we link to will always be available to you.</p>

    <h2>12. Disclaimer and liabilities</h2>
    <p>12.1&nbsp;&nbsp; &nbsp;This website, all NHSX Content and all material relating to Government information, products and services (or to third-party information, products and services) is provided "as is", without any endorsement and without warranty of any kind whether express or implied, including but not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy. &nbsp;This means that, while we do try to make sure that all our information is correct, we are not liable for any errors or omissions, and cannot be responsible for any impact these have on you.</p>
    <p>12.2&nbsp;&nbsp; &nbsp;If the need arises, we reserve the right to amend, delete, suspend or withdraw all or any part of this website without notice. NHSX will not be liable if for any reason this website or any parts are unavailable at any time.</p>
    <p>12.3&nbsp;&nbsp; &nbsp;We do not warrant that the functions of this website will be uninterrupted or error free, that defects will be corrected, or that this website or the server that makes it available will be free of viruses or represent the full functionality, accuracy or reliability of the materials. You should use your own virus protection software.</p>
    <p>12.4&nbsp;&nbsp; &nbsp;NHSX and any approving bodies are not the owners, managers or suppliers of various products which can be accessed from this website. NHSX or the approving body sets standards for reviewing the products, but this does not mean that NHSX or the approving body has itself reviewed all aspects of each product, or version of the same product. NHSX or the approving body is not responsible or liable for any advice, or any other information, services or products that you obtain using any such products.</p>
    <p>12.5&nbsp;&nbsp; &nbsp;Material on this website is provided for information and educational purposes only and we do not guarantee that information we provide will meet your health or medical requirements. NHSX does not give medical advice in relation to any individual case or patient, nor does NHSX provide medical or diagnostic services.</p>
    <ul>
      <li>For less urgent health needs, contact your GP or local pharmacist in the usual way.</li>
      <li>If you have an urgent medical need, you should call 111.</li>
      <li>If a life is at risk, call 999.</li>
    </ul>
    <p>12.6&nbsp;&nbsp; &nbsp;In no event will we be liable for any loss or damage including, without limitation, indirect or consequential loss or damage, or any loss or damages whatsoever arising from use or loss of use of, data or profits arising out of or in connection with the use of this website. Nothing in these terms and conditions will operate to limit or exclude liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation, nor any other liability which cannot be excluded or limited under applicable law.</p>
    <h2>13. General</h2>
    <p>13.1&nbsp;&nbsp; &nbsp;If any of these terms and conditions are determined to be illegal, invalid or otherwise unenforceable, then the remaining terms and conditions shall remain in full force and effect.</p>
    <p>13.2&nbsp;&nbsp; &nbsp;The laws of England shall apply exclusively to these terms and conditions and to all matters relating to use of this website. Any cause of action arising under these terms and conditions or the use of this website shall be subject to the exclusive jurisdiction of the courts of England and Wales.</p>

  </div>
</div>
{% endblock %}
