/* ==========================================================================
   #PAGE
   ========================================================================== */

.nhsx-section {
  padding-bottom: 48px;
  padding-top: 48px;

  @include mq($from: tablet) {
    padding-bottom: 72px;
    padding-top: 72px;
  }
}

.nhsx-section--white {
  background-color: $color_nhsuk-white;
}
