/* ==========================================================================
   #PAGE
   ========================================================================== */

.nhsx-section {
  padding-bottom: nhsuk-spacing(6);
  padding-top: nhsuk-spacing(6);
}

.nhsx-section--white {
  background-color: $color_nhsuk-white;
}
