{% set pageTitle = "Get involved" %}
{% set pageDescription = "We want to hear from you. Contact us." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Get involved</h1>
    <p class="nhsuk-body-l nhsuk-u-padding-top-0">Please get in touch.</p>
    <p>We are keen to hear from everyone who is affected by the technology we use in health and care, from patients to technologists and innovators to carers to clinicians.</p>

    <h2>Tell us what guidance you need on information sharing</h2>

    <p>Information governance is all about how to manage and share information appropriately. Many organisations have published guidance on information sharing in health and care, including guidance on how to use and share information to support the care of individuals, as well as for planning and research.</p>
    <p>NHSX wants to bring all of this guidance together in one place, to simplify it, and to ensure that any new guidance we produce focuses on the topics that are most important to you. These topics could include answering your questions or supporting you in overcoming any barriers to information sharing that you feel are impacting negatively on patient care.</p>
    <p>We would like to hear from anyone who is involved in making decisions about sharing information, for example patients or service users, health and care professionals, information governance specialists or interested members of the public. We would value your time in completing this <a href="https://www.engage.england.nhs.uk/survey/guidance-on-information-sharing">short questionnaire on information sharing</a>.</p>

    <h2>Contact us</h2>
    <ul>
      <li>Twitter: <a href="https://twitter.com/NHSX">follow us at @NHSX</a></li>
      <li>Email: <a href="mailto:feedback@nhsx.nhs.uk">feedback@nhsx.nhs.uk</a></li>
    </ul>

  </div>
</div>
{% endblock %}
