{% set pageTitle = "Get involved" %}
{% set pageDescription = "We want to hear from you. Contact us." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Get involved</h1>
    <p class="nhsuk-body-l nhsuk-u-padding-top-0">Please get in touch.</p>
    <p>We are keen to hear from everyone who is affected by the technology we use in health and care, from patients to technologists to carers to clinicians.</p>

    <h2>Contact us</h2>
    <ul>
      <li>Twitter: <a href="https://twitter.com/NHSX">follow us at @NHSX</a></li>
      <li>Email: <a href="mailto:england.nhsx@nhs.net">england.nhsx@nhs.net</a></li>
    </ul>

  </div>
</div>
{% endblock %}
