{% set pageTitle = "How we work" %}
{% set pageDescription = "NHSX's culture and values." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">How we work</h1>
    <p class="nhsuk-body-l">Our culture and values.</p>
    <ul>
      <li>We take time to listen, understand and communicate clearly.</li>
      <li>We encourage everyone to contribute their skills, knowledge and experience. Everyone’s voice is equal and respected.</li>
      <li>We are user-centred and we work openly and with a wide range of partners because that will deliver better outcomes.</li>
      <li>We value ambition, are open to learning and new ideas, and support people to innovate.</li>
      <li>We work collaboratively, beyond job roles and across teams.</li>
      <li>We recognise and celebrate success and take ownership of problems and solutions.</li>
    </ul>

    <h2>How we work with digital innovators</h2>
    <p>We want the very best digital solutions for citizens and for NHS and social care staff. We know that technology can help us meet our most pressing strategic challenges – improving outcomes, addressing workforce shortages and increasing productivity – this is articulated by <a href="/what-we-do">NHSX’s five missions</a>.</p>
    <p>We also want to support a thriving digital ecosystem, in which both smaller innovators and larger companies can flourish. We believe that this will bring the best solutions and most choice for patients and staff – as long as systems are built to the same open standards and are interoperable with each other.</p>
    <p>We expect digital innovators who seek to work with the NHS to:</p>
    <ol>
      <li>Abide by <a href="https://www.gov.uk/government/publications/creating-the-right-framework-to-realise-the-benefits-of-health-data/creating-the-right-framework-to-realise-the-benefits-for-patients-and-the-nhs-where-data-underpins-innovation#guiding-principles">our guiding principles</a></li>
      <li>Be open and transparent</li>
      <li>Leverage best value for the NHS</li>
    </ol>

    <h3>Abide by our guiding principles</h3>
    <p>Better use of data between the NHS and partners has the potential to improve diagnosis, treatment, experience of care, efficiency of the system and overall outcomes for the people at the heart of the NHS, public health and the wider healthcare system.</p>
    <p>It must be done in a way which is safe, ethical, evidenced and transparent. People need to know that data about them is being used to develop and test healthcare solutions, and that their privacy and rights are safeguarded. For this reason, and to enable partnerships between the NHS and partners to thrive, <a href="https://www.gov.uk/government/publications/creating-the-right-framework-to-realise-the-benefits-of-health-data/creating-the-right-framework-to-realise-the-benefits-for-patients-and-the-nhs-where-data-underpins-innovation#guiding-principles">the government has published five guiding principles</a>.</p>
    <p>Digital innovators working with NHSX must abide by these <a href="https://www.gov.uk/government/publications/creating-the-right-framework-to-realise-the-benefits-of-health-data/creating-the-right-framework-to-realise-the-benefits-for-patients-and-the-nhs-where-data-underpins-innovation#guiding-principles">guiding principles</a>, <a href="https://www.gov.uk/government/publications/code-of-conduct-for-data-driven-health-and-care-technology/initial-code-of-conduct-for-data-driven-health-and-care-technology">the code of conduct for data-driven health and care technology</a>, the <a href="https://www.gov.uk/government/organisations/national-data-guardian">Caldicott Principles</a> and the <a href="https://www.gov.uk/government/publications/data-ethics-framework/data-ethics-framework">data ethics framework</a>.</p>
    <p>In addition, digital innovators must be in line with all other relevant legislation including the Data Protection Act 2018, Common Law and the Human Rights Act and will need to complete the Data Security and Privacy toolkit. Agreements on data must not be perpetual nor exclusive.</p>

    <h3>Be open and transparent</h3>
    <p>We seek to work in the open as far as possible and therefore require those who work with us to:</p>
    <ul>
      <li>Be open and transparent with the arrangements agreed.</li>
      <li>Appoint a named lead point person that can fully represent the organisation and take decisions on behalf of it. In the case of smaller companies this is about designating sufficient time of the lead contact, for larger companies this means one person being responsible for coordination across a number of departments to ensure that communications are rapid, efficient and straightforward for the NHS.</li>
      <li>Develop a 12 month forward look project plan for agreed projects that we will publish.</li>
      <li>In the case of machine learning or AI technologies we expect algorithms to comply with Principle 7 of the <a href="https://www.gov.uk/government/publications/code-of-conduct-for-data-driven-health-and-care-technology/initial-code-of-conduct-for-data-driven-health-and-care-technology">code of conduct for data-driven health and care technology</a>.</li>
      <li>Rigorously evaluate the impact of technologies and publish this.</li>
      <li>As part of the development and deployment of new technology, we expect companies to actively demonstrate engagement with patients and the public.</li>
    </ul>

    <h3>Leverage best value for the NHS</h3>
    <ul>
      <li>Projects need to actively support <strong>open standards and interoperability</strong> in the NHS and social care. Allowing products to interoperate with each other, with electronic health records, national and other third-party systems is crucial to the value they deliver.</li>
      <li><strong>Meet relevant health technology standards</strong>: building on the work of the NHS Apps Library, NHSX is currently developing an NHS-recognised <a href="/key-information-and-tools/designing-and-building-products-and-services">Digital Health Technology Standard</a>. This will combine elements of the existing <a href="https://digital.nhs.uk/services/nhs-apps-library/guidance-for-health-app-developers-commissioners-and-assessors/how-we-assess-health-apps-and-digital-tools">Digital Assessment Questions</a> with other data and interoperability standards. It’s anticipated that all health apps and digital technologies commissioned by or used within the NHS will need to meet this new standard and anyone working with us would be expected to ensure that any relevant products meet the standard.</li>
      <li><strong>Pricing</strong>: we expect best value pricing for the NHS and social care, including zero cost for pre-commercial products, and in the event of opportunities for large scale implementations, substantial discounting to occur.</li>
      <li><strong>Contracts with NHS or social care collaborators</strong>: a number of projects will have formal NHS or social care collaborators and it will be appropriate for contracts to exist between the companies and these NHS Trusts or other type of organisation. In these cases, contracts should reflect all of the expectations set out on this page. We do not expect to hold contracts directly between NHSX and companies.</li>
      <li>One of NHSX’s ambitions is to leverage better value from larger technology companies. In line with this we expect contracts to <strong>outline the value exchange</strong> in recognition of the clinical and other expertise they contribute to activities, particularly those in a pre-commercial phase.</li>
      <li>Creation of jobs and opportunities within the UK: we aim for digital health innovation to result in a <strong>significant contribution to the UK economy</strong> and to its strategic focus on data driven technologies including the AI sector. Those who we work with will actively commit to look for opportunities to do this. This will clearly range given the differing size and reach of digital innovators, but examples would include: creation of new jobs and services within the UK; the headquartering of a head office or R&D facility; or investment in software engineering and machine-learning skills at leading universities. When these opportunities are realised, to agree that we publish them in line with our expectations of transparency set out above.</li>
    </ul>

    <p class="nhsuk-u-margin-top-8"><a href="/key-information-and-tools">Find key information and tools</a></p>

  </div>
</div>
{% endblock %}
