{% set pageTitle = "How we work" %}
{% set pageDescription = "NHSX's culture and values." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">How we work</h1>
    <p class="nhsuk-body-l">Our culture and values.</p>
    <ul>
      <li>We take time to listen, understand and communicate clearly.</li>
      <li>We encourage everyone to contribute their skills, knowledge and experience. Everyone’s voice is equal and respected.</li>
      <li>We are user-centred and we work openly and with a wide range of partners because that will deliver better outcomes.</li>
      <li>We value ambition, are open to learning and new ideas, and support people to innovate.</li>
      <li>We work collaboratively, beyond job roles and across teams.</li>
      <li>We recognise and celebrate success and take ownership of problems and solutions.</li>
    </ul>

    <p class="nhsuk-u-margin-top-8"><a href="/key-information-and-tools">Find key information and tools</a></p>

  </div>
</div>
{% endblock %}
