{% set pageTitle = "Key information and tools" %}
{% set pageDescription = "Links to standards, guidance and support for digital teams." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Key information and tools</h1>

  </div>
</div>
{% endblock %}
