{% set pageTitle = "What we do" %}
{% set pageDescription = "We’re here to improve health and social care by giving people the technology they need." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">What we do</h1>
    <p class="nhsuk-body-l">We’re here to improve health and social care by giving people the technology they need.</p>
    <p>NHSX will deliver the Health Secretary’s <a href="https://www.gov.uk/government/publications/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care">Tech Vision</a>, building on the <a href="https://www.longtermplan.nhs.uk/">NHS Long Term Plan</a>. We will speed up the digital transformation of the NHS and social care. We are here to:</p>
    <ul>
      <li>help people stay well and manage their own care by giving them easy access to quality digital services and their data</li>
      <li>help NHS staff to focus on patients, by freeing up their time through digital technology</li>
      <li>work with providers and the Local Government Association to understand how technology can help staff and users of social care services</li>
    </ul>

    <h2>Our responsibilities</h2>

    <h3>Coordination and consistency</h3>
    <ul>
      <li>Setting national policy for NHS technology, digital and data (including data-sharing and transparency)</li>
      <li>Setting the strategy, developing best practice guidance, coordinating activities across the arms-length bodies and national or central programmes</li>
      <li>Becoming a single point of accountability for national digital transformation programmes and the oversight of NHS Digital</li>
    </ul>

    <h3>Setting standards</h3>
    <ul>
      <li>Developing, agreeing and mandating clear standards (for example, on user experience, open standards, information governance, and open source) for the use of technology in the NHS</li>
      <li>Making sure that NHS systems become interoperable and that the NHS can incorporate the latest innovations without breaking the technical plumbing underneath</li>
    </ul>

    <h3>Driving implementation</h3>
    <ul>
      <li>Helping to improve clinical care by delivering agile, user-focused projects</li>
      <li>Developing digital care pathways and solving administrative challenges across the NHS</li>
      <li>Delivering APIs and documentation to empower developers and data analysts across the NHS and the health tech industry</li>
      <li>Driving digital and tech maturity in local NHS organisations</li>
    </ul>

    <h3>Radical innovation</h3>
    <ul>
      <li>Supporting the use of new, emergent and effective technologies by the NHS, both by working with industry and through its own prototyping and development</li>
    </ul>

    <h3>Common technologies and services</h3>
    <ul>
      <li>Making sure that common technologies and services, including the <a href="https://digital.nhs.uk/services/nhs-app">NHS App</a>, are designed so that trusts and surgeries don’t have to reinvent the wheel each time</li>
      <li>Making sure that that all source code is open by default so that anyone who wants to write code for the NHS can see what we need</li>
    </ul>

    <h3>Reforming procurement</h3>
    <ul>
      <li>Helping the NHS buy the right technology through the application of technology standards, streamlined spend controls and new procurement frameworks that support our standards</li>
    </ul>

    <h3>Cyber policy</h3>
    <ul>
      <li>Setting national strategy and mandating cyber security standards, so that NHS and social care systems have security designed in from the start  </li>
    </ul>

    <h3>Digital capability</h3>
    <ul>
      <li>Championing and developing digital training, skills and culture so our staff are digital-ready </li>
    </ul>

    <h3>Governance</h3>
    <ul>
      <li>Delivering an efficient process for technology spend, domain name management, and website security</li>
      <li>Reviewing the effectiveness of governance arrangements regularly</li>
    </ul>

    <p class="nhsuk-u-margin-top-8"><a href="/how-we-work">Find out how we work</a></p>

  </div>
</div>
{% endblock %}
