{% set pageTitle = "Who we are" %}
{% set pageDescription = "NHSX will bring together teams from the Department of Health and Social Care, NHS England and NHS Improvement." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Who we are</h1>
    <p class="nhsuk-body-l">NHSX will bring together teams from the Department of Health and Social Care, NHS England and NHS Improvement.</p>
    <p>Responsibility for technology, digital and data policy is currently split across lots of organisations and teams. From 1 July, we will bring together teams from different organisations into one unit to drive digital transformation and lead policy, implementation and change.</p>
    <p>We are a diverse team with a range of skills and expertise, including clinicians, technologists, policy experts, developers, data scientists and project managers.</p>
    <p>We report directly to the Secretary of State and the Chief Executives of NHS England and NHS Improvement. We will be funded through existing budgets, transfers of staff and savings from NHS Digital, which is currently restructuring.</p>

    <h2>Interim leadership team</h2>
    <p>The interim leadership team of NHSX are: Simon Eccles, Will Smart, Tara Donnelly and Geraint Lewis from NHS England and Katie Farrington, Tim Donohoe, Lorraine Jackson, Hannah Brown, Jen Coe and Iain O’Neil from Department of Health and Social Care.</p>

    <h2>Teams joining NHSX</h2>
    <p>Initially, teams from NHS England and the Department of Health and Social Care will join the unit. The teams include:</p>
    <ul>
      <li>architecture</li>
      <li><a href="https://www.england.nhs.uk/digitaltechnology/connecteddigitalsystems/cyber/">cyber security</a></li>
      <li>data for secondary uses</li>
      <li><a href="https://www.england.nhs.uk/digitaltechnology/empowering-people/">empowering the person</a></li>
      <li><a href="https://www.england.nhs.uk/digitaltechnology/connecteddigitalsystems/nhs-e-referral-service/">e-referrals</a></li>
      <li>integrating pharmacy across care settings</li>
      <li><a href="https://www.england.nhs.uk/digitaltechnology/digital-primary-care/">primary care digital transformation</a></li>
      <li>provider digitisation</li>
      <li>technical strategy</li>
    </ul>

    <p class="nhsuk-u-margin-top-8"><a href="/what-we-do">Find out what we do</a></p>

  </div>
</div>
{% endblock %}
