{% set pageTitle = "Who we are" %}
{% set pageDescription = "NHSX will bring together teams from the Department of Health and Social Care, NHS England and NHS Improvement." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Who we are</h1>
    <p class="nhsuk-body-l">NHSX will bring together teams from the Department of Health and Social Care, NHS England and NHS Improvement.</p>
    <p>Responsibility for technology, digital and data policy is currently split across lots of organisations and teams. From 1 July, we will bring together teams from different organisations into one unit to drive digital transformation and lead policy, implementation and change.</p>
    <p>We are a diverse team with a range of skills and expertise, including clinicians, technologists, policy experts, developers, data scientists and project managers.</p>
    <p>We report directly to the Secretary of State and the Chief Executive of NHS England and NHS Improvement. We will be funded through existing budgets.</p>

    <h2>Interim leadership team</h2>
    <p>The interim leadership team of NHSX are: Simon Eccles, Will Smart, Tara Donnelly and Geraint Lewis from NHS England and Katie Farrington, Tim Donohoe, Lorraine Jackson, Hannah Brown, Jen Coe and Iain O’Neil from the Department of Health and Social Care.</p>

    <h2>Teams joining NHSX</h2>
    <p>Initially, programme teams from NHS England and the Department of Health and Social Care will join the unit. These include:</p>
    <ul>
      <li>artificial intelligence</li>
      <li>cyber security</li>
      <li>data transformation and policy</li>
      <li>digital and technology strategy and oversight</li>
      <li>digital urgent and emergency care, including NHS 111 online</li>
      <li>digitising pharmacy</li>
      <li>digitising providers - including global digital exemplars, our most digitally advanced trusts</li>
      <li>elective care - including e-referrals</li>
      <li>empowering the person - our citizen-facing digital portfolio, including the NHS App</li>
      <li>genomics</li>
      <li>innovation</li>
      <li>integrating care locally</li>
      <li>local health and care records</li>
      <li>primary care digital transformation - including GP systems, data and digital services</li>
      <li>social care</li>
      <li>technical architecture</li>
    </ul>

    <p>Find out more about the work of many of these teams on the <a href="https://www.england.nhs.uk/digitaltechnology/">NHS England digital transformation website</a>.</p>

    <p class="nhsuk-u-margin-top-8"><a href="/what-we-do">Find out what we do</a></p>

  </div>
</div>
{% endblock %}
