{% set pageTitle = "Apps and tools for patient care" %}
{% set pageDescription = "New digital apps and tools are empowering people to take control of their health and improving patient care." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Apps and tools for patient care</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">New digital apps and tools are empowering people to take control of their health and improving patient care.</p>

    <h3>eRedbook</h3>
    <p>The <a href="https://www.eredbook.org.uk/">eRedbook</a> is a personal child health record and the digital version of the Redbook paper record.</p>

    <h3>GP online services</h3>
    <p><a href="https://www.england.nhs.uk/gp-online-services/">GP online services</a> allow patients to book and cancel appointments, order repeat prescriptions and view their GP records.</p>

    <h3>NHS App</h3>
    <p>The <a href="https://digital.nhs.uk/services/nhs-app">NHS App</a> is a simple and secure way for people to access a range of NHS services on their smartphone or tablet.</p>

    <h3>NHS apps library</h3>
    <p>The <a href="https://www.nhs.uk/apps-library/">apps library</a> on nhs.uk helps patients and the public find tools to help them manage and improve their health.</p>

    <h3>NHS login</h3>
    <p>The <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS login</a> makes it easier and quicker for people to see their personal health information online. In future, they’ll use it to access other health and social care services online.</p>

    <h3>The NHS website</h3>
    <p>The NHS website (<a href="https://www.nhs.uk/">nhs.uk</a>) gives the public information about conditions, treatments, medicines, NHS services and more.</p>

    <h3>NHS wifi</h3>
    <p><a href="https://digital.nhs.uk/services/nhs-wifi">NHS WiFi</a> is working to make sure everyone can access free, secure and consistent WiFi services at NHS sites across England.</p>

    <h2>Examples of how technology can improve patient care</h2>

    <div class="nhsuk-promo nhsx-promo--white">
      <div class="nhsx-embed-container"><iframe src="https://www.youtube.com/embed/Qv_NChcS29Q" allowfullscreen></iframe></div>
      <div class="nhsuk-promo__content nhsx-promo__content--white">
        <h3>MIRA rehab</h3>
        <p class="nhsuk-promo__description">A software platform that turns physiotherapy exercises into video games and helps with injury rehabilitation.</p>
      </div>
    </div>

    <div class="nhsuk-promo nhsx-promo--white">
      <div class="nhsx-embed-container"><iframe src="https://www.youtube.com/embed/3psMA9n2P7c" allowfullscreen></iframe></div>
      <div class="nhsuk-promo__content nhsx-promo__content--white">
        <h3>WaitLess app</h3>
        <p class="nhsuk-promo__description">An app that combines waiting times at urgent care centres with up-to-the-minute travel information to help patients decide where to go for faster treatment for minor injuries.</p>
      </div>
    </div>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h3>Key information and tools</h3>
      <ul>
        <li><a href="/key-information-and-tools/policy-strategy-and-national-programmes">Policy, strategy and national programmes</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/blogs-and-updates">Blogs and updates</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
