{% set pageTitle = "Data-driven health and care technology" %}
{% set pageDescription = "NHSX wants to make the NHS a world leader in developing ethical and safe data-driven technologies." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Data-driven health and care technology</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-heading-m">What is Artificial Intelligence?</h2>
    <p>There is no single, universally agreed definition of Artificial Intelligence (AI), nor indeed of ‘intelligence’. Intelligence can be defined as ‘problem-solving’, and ‘an intelligent system’ as one which takes the best possible action in a given situation (<a href="https://www.kssahsn.net/what-we-do/our-news/news/Documents/AI-Strategy.pdf">Accelerating AI in health and care</a>).</p>
    <p>The ‘A’ of AI generally refers to one of the following:</p>
    <ul>
      <li><strong>Artificial (Intelligence)</strong> – makes it possible for ‘machines’ to learn from new experiences, adjust outputs and perform human-like tasks. It can be thought of as the simulation of human intelligence and could include voice and visual recognition systems.</li>
      <li><strong>Augmented (Intelligence)</strong> - outputs that complement human intelligence, emphasising AI’s supplementary role. Examples include tools that support radiologists in reviewing large numbers of scans, or that support theatre managers to better manage theatre schedules.</li>
      <li><strong>Ambient (Intelligence)</strong> - the application of several technologies (including Artificial or Augmented Intelligence, but also sensor networks, user interfaces, home automation systems, etc) to create proactive ‘smart’ environments.</li>
    </ul>

    <h2 class="nhsuk-heading-m">Why Artificial Intelligence (AI)?</h2>
    <p>Artificially Intelligent Systems can carry out or augment health and care tasks that have until now been completed by humans, or have not been possible previously. AI presents significant opportunities for saving money, improving care, and saving lives. For example, it could help personalise NHS screening and treatments for cancer, eye disease and a range of other conditions, as well as freeing up staff time.</p>
    <p>Read some of our case studies:</p>
    <ul>
      <li><a href="/assets/NHSx_Case_Studies_Cogstack.pdf">Cogstack</a></li>
      <li><a href="/assets/NHSx_Case_Studies_Precision.pdf">Precision Medicine</a></li>
      <li><a href="/assets/NHSx_Case_Studies_EMRAD.pdf">EMRAD, including non-clinical (operational) applications of AI</a></li>
      <li><a href="/assets/NHSx_Case_Studies_Kortical.pdf">Kortical</a></li>
    </ul>
    <p>You will find more case studies at the end of our latest report <a href="/assets/NHSX_AI_report.pdf">Artificial Intelligence: how to get it right. Putting policy into practice for safe data-driven innovation in health and care</a>.

    <!-- @TODO: Embed YouTube video -->
    <div class="nhsuk-promo nhsx-promo--white">
      <div class="nhsx-embed-container"><iframe src="https://www.youtube.com/embed/1klENSYHXpM" allowfullscreen></iframe></div>
      <div class="nhsuk-promo__content nhsx-promo__content--white">
        <h3>What is the future for data-driven technology in the NHS?</h3>
        <p class="nhsuk-promo__description">NHSX wants to support data driven technologies that have the potential to improve the quality of health and care services.</p>
      </div>
    </div>

    <p>We want to start with the basics and make sure that new technology respects ethical values such as autonomy, transparency, confidentiality and privacy. That’s why to date we have focussed on getting the right ethical frameworks and standards in place so that we can better guide people.</p>
    <p>The <a href="https://www.gov.uk/government/publications/code-of-conduct-for-data-driven-health-and-care-technology/initial-code-of-conduct-for-data-driven-health-and-care-technology">code of conduct</a> (Department of Health and Social Care, 2019) sets out what is expected of people developing, deploying and using data-driven technologies.</p>

    <h2 class="nhsuk-heading-m">The NHS Artificial Intelligence laboratory</h2>

    <h3>Where are we now?</h3>
    <p>NHSX has been working hard to understand how Artificial Intelligence (AI) is currently being developed in the NHS; what the greatest opportunities and risks are; and what challenges developers in this field face.</p>
    <p>The result is a report that brings together the rich insight we have gathered together with some guidance for the development and deployment of AI in health and care. You can <a href="/assets/NHSX_AI_report.pdf">download the full AI report as a PDF</a>.</p>
    <p>This report is prefaced by the foundation of knowledge obtained from the <a href="https://wessexahsn.org.uk/news/1854/exemplar-report-accelerating-artificial-intelligence-in-health-and-care-results-from-a-state-of-the-nation-survey-published">2018 Accelerating AI in health and care: results from a state of the nation survey</a>.</p>

    <h3>Overview of the NHS Artificial Intelligence (AI) Laboratory</h3>
    <p>The NHS AI Laboratory will develop and deploy practical applications of artificial intelligence in the NHS that can improve the health and quality of life for our citizens. It will harness the power of data science and AI to turbo-charge our ability to make evidence-based decisions in health and social care.</p>
    <p>Understanding there are ethical and safety concerns associated with the use of AI in health and care, the Lab will align to the core founding principles of the NHS; addressing transparency, safety, privacy, explicability and bias. By building on the foundations already laid, such as our <a href="https://www.gov.uk/government/publications/code-of-conduct-for-data-driven-health-and-care-technology/initial-code-of-conduct-for-data-driven-health-and-care-technology">code of conduct</a>, these frameworks and best practices will ensure the project maintains the support of the public, and positions the NHS as a world leader in the development of safe and effective AI.</p>
    <p>Through the creation of this Lab, and building on our existing work, we will:</p>
    <ul>
      <li>provide evidence of what good practice looks like to industry and commissioners</li>
      <li>reassure patients and clinicians that data-driven technology is safe, effective and maintains privacy</li>
      <li>allow the government to work with suppliers to guide the development of new technology so products are suitable for the NHS in the future</li>
      <li>build capability within the system with in-house expertise to prototype and develop ideas</li>
      <li>make sure the NHS gets a fair deal from the commercialisation of its data resources</li>
      <li>promote the UK as the best place in the world to invest in healthtech.</li>
    </ul>
    <p>We will work closely with the following partners to deliver the objectives of the NHS AI Lab including but not limited to:</p>
    <ul>
      <li><a href="https://www.england.nhs.uk/ourwork/innovation/accel-access/">Accelerated Access Collaborative</a></li>
      <li><a href="https://www.gov.uk/government/publications/life-sciences-sector-deal/life-sciences-sector-deal-2-2018">Office of Life Sciences</a>
      <li><a href="https://www.hdruk.ac.uk/infrastructure/">Health Data Research UK</a>
      <li><a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care">Department of Health and Social Care</a></li>
      <li><a href="https://www.turing.ac.uk/">The Alan Turing Institute</a></li>
    </ul>

    <h2 class="nhsuk-heading-m">Guidance and tools for commissioners and developers</h2>
    <p>If you are developing a data-driven technology or want to commission a system utilising it, you may find the following helpful:</p>
    <ul>
      <li><a href="https://futureadvocacy.com/ai-think-tank/">Future Advocacy - Artificial Intelligence: maximising opportunities, minimising risks</a></li>
      <li><a href="https://reform.uk/research/data-driven-healthcare-regulation-regulators">Reform - Data-driven healthcare: regulation &amp; regulators</a></li>
      <li><a href="https://www.thersa.org/discover/publications-and-articles/rsa-blogs/2019/10/artificial-intelligence-nhs">An overview of the user needs from Automated Decision systems: (The Royal Society for the encouragement of Arts, Manufactures and Commerce's report on user needs.</a></li>
      <li>In development: A self-assurance portal (due end 2019 in beta) helping developers work through the principles within the Code of Conduct, in a practical and step by step way.</li>
    </ul>
  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/policy-strategy-and-national-programmes">Policy, strategy and national programmes</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/blogs-and-updates">Blogs and updates</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
