{% set pageTitle = "Designing and building products and services" %}
{% set pageDescription = "Resources for people developing services and technologies in health and social care." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Designing and building products and services</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">Resources for people developing services and technologies in health and social care.</p>

    <h3>Code of conduct for data-driven health and care technology</h3>
    <p>The <a href="https://www.gov.uk/government/publications/code-of-conduct-for-data-driven-health-and-care-technology/initial-code-of-conduct-for-data-driven-health-and-care-technology">code of conduct</a> (Department of Health and Social Care, 2019) sets out what is expected of people developing, deploying and using data-driven technologies.</p>

    <h3>Evidence standards framework for digital health technologies</h3>
    <p>The National Institute for Health and Care Excellence (NICE) has worked with partners to develop a <a href="https://www.nice.org.uk/about/what-we-do/our-programmes/evidence-standards-framework-for-digital-health-technologies">standards framework</a> to make sure new technologies are clinically effective and offer economic value.</p>

    <h3>NHS developer network</h3>
    <p>NHS Digital's <a href="https://developer.nhs.uk/">NHS developer network</a> includes technical information, software tools, source code and data for developers who are designing and building software for use in health and social care.</p>

    <h3>NHS digital service manual</h3>
    <p>The <a href="https://beta.nhs.uk/service-manual/">digital service manual</a> helps NHS teams design and build consistent, usable digital services that put people first. It includes:</p>
    <ul>
        <li>the NHS.UK frontend library</li>
        <li>prototyping kit</li>
        <li>design principles</li>
        <li>UI styles, patterns and components</li>
        <li>content style guide</li>
        <li>accessibility and other practice guidance</li>
    </ul>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h3>Key information and tools</h3>
      <ul>
        <li><a href="/key-information-and-tools/policy-strategy-and-national-programmes">Policy, strategy and national programmes</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/blogs-and-updates">Blogs and updates</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
