{% set pageTitle = "Key information and tools" %}
{% set pageDescription = "Links to standards, guidance and support for digital teams." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/">Back to Home</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Key information and tools</h1>
    <p class="nhsuk-body-l nhsuk-u-padding-top-0">Standards, guidance and support for digital teams.</p>

  </div>
</div>

<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/key-information-and-tools/policy-strategy-and-national-programmes">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Policy, strategy and national programmes</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/key-information-and-tools/apps-and-tools">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Apps and tools for patient care</h3>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="nhsuk-grid-row nhsuk-promo-group">
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/key-information-and-tools/designing-and-building-products-and-services">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Designing and building products and services</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
    <div class="nhsuk-promo">
      <a class="nhsuk-promo__link-wrapper" href="/key-information-and-tools/blogs-and-updates">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Blogs and updates</h3>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p>NHSX will define strategy and set standards, for example, on:</p>
    <ul>
      <li>user experience</li>
      <li>open standards</li>
      <li>information governance</li>
      <li>open source</li>
    </ul>
    <p>We'll be working with our partners to bring together and align resources so that’s it’s easy to find all the information you need in one place.</p>
    <p>In the meantime, this part of the website signposts a range of information and tools on other organisations’ websites.</p>

    <p class="nhsuk-u-margin-top-8"><a href="/get-involved">Get involved</a></p>

  </div>
</div>
{% endblock %}
