{% set pageTitle = "Information Governance guidance" %}
{% set pageDescription = "data protection and corona virus advice" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Information Governance</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">Information governance is all about how to manage and share information appropriately.</p>
    
    <h2 class="nhsuk-heading-m">COVID 19 Information Governance Advice</h2>
    <p>The health and social care system is going to face significant pressures due to the COVID-19 outbreak. In the current circumstances it could be more harmful not to share health and care information than to share it. The Information Commissioner has assured NHSX that she cannot envisage a situation where she would take action against a health and care professional clearly trying to deliver care. You can read <a href="https://ico.org.uk/for-organisations/">the statement</a> from the Information Commissioner's Office, alongside their <a href="https://ico.org.uk/for-organisations/data-protection-and-coronavirus/">Q&A resource</a>. Health regulators have also published a <a href="https://www.nmc.org.uk/news/news-and-updates/how-we-will-continue-to-regulate-in-light-of-novel-coronavirus/">joint statement</a>.</p>
    <p>We will need to work in different ways from usual and the focus should be <b>what</b> information you share and <b>who</b> you share it with, rather than <b>how</b> you share it. This advice sets out some of the tools you can use to support individual care, share information and communicate with colleagues during this time.</p>
    
    <h3>Mobile Messaging</h3>
    <p>It is absolutely fine to use mobile messaging to communicate with colleagues and patients/service users as needed. It is also fine to use commercial, off-the-shelf applications such as WhatsApp and Telegram where there is no practical alternative and the benefits outweigh the risk.</p>
    <p>The important thing, as always, is to consider what type of information you are sharing and with whom. And <i>as much as possible</i> limit the use of personal/confidential patient information.</p>
  
    <h3>Videoconferencing</h3>
    <p>We encourage the use of videoconferencing to carry out consultations with patients and service users. This could help to reduce the spread of COVID 19. It is fine to use video conferencing tools such as Skype, WhatsApp, Facetime as well as commercial products designed specifically for this purpose.</p>
    <p>The consent of the patient or service user is implied by them accepting the invite and entering the consultation. But you should safeguard personal/confidential patient information in the same way you would with any other consultation.</p>  
  
    <h3>Homeworking</h3>
    <p>You may well need to work from home - for example, when self-isolating without symptoms.</p>
    <p>If you are working from home and using your own equipment you should check that your internet access is secure (e.g. use a Virtual Private Network and/or if possible avoid public wi-fi) and that any security features are in use.</p> 
    <p>If you are taking any physical documents home with you that contain personal/confidential patient information, you should also ensure the security of these documents at your home and when travelling.</p>

    <h3>Using Your Own Device</h3>
    <p>You can use your own devices to support video conferencing for consultations, mobile messaging and home working where there is no practical alternative.</p>
    <p>Reasonable steps to ensure this is safe include: setting a strong password; using secure channels to communicate e.g. tools/apps that use encryption; and not storing personal/confidential patient information on the device unless absolutely necessary and appropriate security is in place.</p> 
    <p>Information should be safely transferred to the appropriate health and care record as soon as it is practical to do so.</p>
    
    <h3>Further help</h3>
    <p>If your Data Protection Officer or Caldicott Guardian is unsure of appropriate action to take, you can direct Information Governance questions to <a href="mailto:england.IGPolicy@nhs.net">the NHSX IG Policy team</a>.</p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/tech-plan-for-health-and-care">Tech plan for health and care</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance">Information Governance guidance</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
