{% set pageTitle = "Information Governance" %}
{% set pageDescription = "data protection and corona virus advice" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Information Governance</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">Information governance is all about how to manage and share information appropriately.</p>

    <h2 class="nhsuk-heading-m">Covid-19 Information Governance Advice</h2>
    <p>The health and social care system is going to face significant pressures due to the Covid-19 outbreak. In the current circumstances it could be more harmful not to share health and care information than to share it. The Information Commissioner has assured NHSX that she cannot envisage a situation where she would take action against a health and care professional clearly trying to deliver care. You can read <a href="https://ico.org.uk/for-organisations/">the statement</a> from the Information Commissioner's Office, alongside their <a href="https://ico.org.uk/for-organisations/data-protection-and-coronavirus/">Q&A resource</a>. Health regulators have also published a <a href="https://www.nmc.org.uk/news/news-and-updates/how-we-will-continue-to-regulate-in-light-of-novel-coronavirus/">joint statement</a>.</p>
    <p>We will need to work in different ways from usual and the focus should be <b>what</b> information you share and <b>who</b> you share it with, rather than <b>how</b> you share it. The following advice sets out some of the tools that you can use to support individual care, share information and communicate with colleagues during this time. This includes communications tools where data is stored outside of the UK.</p>
    <p>This advice is endorsed by the Information Commissioner’s Office, the National Data Guardian and NHS Digital.</p>

    <h3 class="nhsuk-heading-s">Communication between health and social care colleagues</h3>
    <p>It It is essential that during the Covid-19 outbreak health and social care professionals are able to talk to each other. You will need to share appropriate information about the people in your care including with social care, where possible using secure mail, NHSmail and MS Teams. Where these tools are not available, you should use this guidance to suggest ways that you can speak to your colleagues in social care.</p>

    <h3 class="nhsuk-heading-s">Mobile Messaging</h3>
    <p>It is absolutely fine to use mobile messaging to communicate with colleagues and patients/service users as needed. It is also fine to use commercial, off-the-shelf applications such as WhatsApp and Telegram where there is no practical alternative and the benefits outweigh the risk.</p>
    <p>The important thing, as always, is to consider what type of information you are sharing and with whom. And <i>as much as possible</i> limit the use of personal/confidential patient information.</p>

    <h3 class="nhsuk-heading-s">Videoconferencing</h3>
    <p>We encourage the use of videoconferencing to carry out consultations with patients and service users. This could help to reduce the spread of COVID 19. It is fine to use video conferencing tools such as Skype, WhatsApp, Facetime as well as commercial products designed specifically for this purpose.</p>
    <p>The consent of the patient or service user is implied by them accepting the invite and entering the consultation. But you should safeguard personal/confidential patient information in the same way you would with any other consultation.</p>

    <h3 class="nhsuk-heading-s">Homeworking</h3>
    <p>You may well need to work from home - for example, when self-isolating without symptoms.</p>
    <p>If you are working from home and using your own equipment you should check that your internet access is secure (e.g. use a Virtual Private Network and/or if possible avoid public wi-fi) and that any security features are in use.</p>
    <p>If you are taking any physical documents home with you that contain personal/confidential patient information, you should also ensure the security of these documents at your home and when travelling.</p>

    <h3 class="nhsuk-heading-s">Using Your Own Device</h3>
    <p>You can use your own devices to support video conferencing for consultations, mobile messaging and home working where there is no practical alternative.</p>
    <p>Reasonable steps to ensure this is safe include: setting a strong password; using secure channels to communicate e.g. tools/apps that use encryption; and not storing personal/confidential patient information on the device unless absolutely necessary and appropriate security is in place.</p>
    <p>Information should be safely transferred to the appropriate health and care record as soon as it is practical to do so.</p>

    <h2 class="nhsuk-heading-m">Guidance for the Social Care Sector</h2>
    <p>Under the Health and Social Care (Safety and Quality) Act 2015, it is legal to share information to support a person’s care. We encourage the use of channels such as secure email and videoconferencing to enable information sharing with colleagues across social care and health services.</p>
    <p>To help communication for Covid-19, if you are Entry Level DSPT compliant and on boarded to NHSmail, we are switching on access for MS Teams via your NHSmail accounts.</p>
    <p>We are also working to make completing the Data Security and Protection Toolkit, and the process for accrediting secure email services easier and faster. We want social care to be able to access secure email for Covid-19 as quickly as possible.</p>
    <p>Further guidance on information governance for the social care sector can be found <a href="https://www.digitalsocialcare.co.uk/latest-guidance/covid-19-information-governance-and-information-sharing-guidance/">here</a>.</p>

    <h2 class="nhsuk-heading-m">Guidance for IG Professionals</h2>

    <h3 class="nhsuk-heading-s">Legal considerations</h3>
    <p>The legal framework has flexibility when it comes to the processing of information. Information relating to the Covid-19 outbreak should be shared as needed to support individual care and to help tackle the disease through research and planning during the Covid-19 situation. The focus should be to ensure the risk of damage, harm or distress being caused to individual patients and service users is kept to a minimum and that data is only processed where it is necessary to do so and in an appropriate manner.</p>

    <h3 class="nhsuk-heading-s">Confidential Patient Information/Common law duty of confidentiality</h3>
    <p>Confidential patient information should be used as normal to treat individual patients. The Secretary of State has issued notice/s under The Health Service (Control of Patient Information) Regulations 2002 (COPI) requiring confidential patient information to be processed for certain public health secondary purposes set out in Regulation 3(1) of COPI to support tackling the NHS response to Covid-19. COPI itself can also be relied on for other processing of confidential patient information relating to the Covid-19 response where the COPI notices don’t apply. These notices do not apply to any other processing operations and/or for purposes other than for tackling the Covid-19 outbreak.</p>

    <h3 class="nhsuk-heading-s">General Data Protection Regulation (GDPR)</h3>
    <p>The GDPR allows information to be shared for individual care, planning and research. Where health and care information (which would be classed as special category data) is shared for either individual care or to help tackle the disease through research and planning then the relevant Article 6 conditions (official authority, compliance with a legal obligation, public interest and on occasions vital interests) and Article 9 conditions (substantial public interest, the delivery of health and care, vital interests or for public health purposes and scientific research) should be relied on as applicable to the situation.</p>
    <p>The <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/principles/">principles</a> (Article 5 of GDPR) should continue to be followed. They form a framework of good information management with the key criteria enabling justification of actions taken. If you are not certain of an issue, such as a relevant retention time, then the law is flexible enough to allow you to revisit the issue once the answer becomes clearer.</p>
    <p>If your organisation is going to process personal/confidential patient information in ways not covered by an existing Data Protection Impact Assessment (DPIA), e.g. using videoconferencing for consultations, then a short high level DPIA should be carried out. The DPIA should set out the activity being proposed; the data protection risks; whether the proposed activity is necessary and proportionate; the mitigating actions that can be put in place and a plan or confirmation that mitigation has been put in place. DPIAs are scalable, and in some instances this might not take more than a couple of pages. The ICO has produced <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/data-protection-impact-assessments/">guidance on carrying out DPIAs</a> and a template that you can refer to. You should also update your privacy notice where data is being processed in new ways.</p>

    <h3 class="nhsuk-heading-s">Further information</h3>
    <p>If your Data Protection Officer or Caldicott Guardian is unsure of appropriate action to take, you can direct Information Governance questions to <a href="mailto:england.igpolicyteam@nhs.net">the NHSX IG Policy team</a>.</p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/tech-plan-for-health-and-care">Tech plan for health and care</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance">Information Governance</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
