{% set pageTitle = "Policy, strategy and national programmes" %}
{% set pageDescription = "The Tech Vision and how national programmes are helping to deliver it." %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Policy, strategy and national programmes</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">The Tech Vision and how national programmes are helping to deliver it.</p>

    <h2>Key documents</h2>

    <ul>
      <li><a href="https://www.gov.uk/government/publications/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care/the-future-of-healthcare-our-vision-for-digital-data-and-technology-in-health-and-care">The future of healthcare: our vision for digital, data and technology in health and care</a> (Department of Health and Social Care, October 2018)</li>
      <li><a href="https://www.longtermplan.nhs.uk/">The NHS Long Term Plan</a> (January 2019)</li>
    </ul>

    <h2>Digital transformation</h2>
    <p>NHS England's <a href="https://www.england.nhs.uk/digitaltechnology/">Digital transformation</a> site includes:</p>
    <ul>
        <li>empowering people</li>
        <li>connected digital systems</li>
        <li>the NHS Digital Academy</li>
        <li>digital primary care</li>
        <li>the digital child health transformation programme</li>
        <li>the open source programme</li>
    </ul>

    <h2>Transforming digital health</h2>
    <p>NHS.UK's <a href="https://www.nhs.uk/transformation/">Transforming digital health</a> site includes the roadmap, presentations, updates, discussion forums and other resources from the Empower the Person programme.</p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h3>Key information and tools</h3>
      <ul>
        <li><a href="/key-information-and-tools/policy-strategy-and-national-programmes">Policy, strategy and national programmes</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/blogs-and-updates">Blogs and updates</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
