{% set pageTitle = "Tech plan for health and care" %}
{% set pageDescription = "Tech plan for health and care" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Tech plan for health and care</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">NHSX is a joint unit bringing together teams from the Department of Health and Social Care and NHS England and NHS Improvement to drive the digital transformation of care.</p>

    <h2>Tech plan for health and care</h2>

    <p>NHSX will be engaging on a tech plan for health and care throughout Spring and Summer 2020.</p>
    <p>Whether you’re an NHS CEO, a care professional, an administrator, a patient, a health charity worker or a developer; we want everyone to have their say on how technology is used to transform health and social care.</p>
    <p>We’ll work openly with you to make sure all the essential building blocks, a clear division of labour and a plan are in place for tech-enabled care.</p>
    <p>Over the next few months we’ll publish information iteratively and in phases as we develop the plan. We’re asking for your views to help shape each section as we go.</p>
    <p><a href="https://jointheconversation.scwcsu.nhs.uk/tech-plan">Join in the conversation</a> or email <a href="mailto:techplan@nhsx.nhs.uk">techplan@nhsx.nhs.uk.</a></p>

    <h2>Policy and programme information</h2>

    <p>Information about pre-existing policy and programmes remains on <a href="https://www.england.nhs.uk/digitaltechnology/">NHS England's Digital transformation website</a> and <a href="https://www.gov.uk/government/organisations/department-of-health-and-social-care">Gov.uk.</a></p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/tech-plan-for-health-and-care">Tech plan for health and care</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance">Information Governance guidance</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
