{% set pageTitle = "Home" %}
{% set pageDescription = "NHSX - a new unit driving forward the digital transformation of health and social care." %}
{% set pageLayout = "Homepage" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<main class="nhsx-main-wrapper" id="maincontent">
  <section class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description nhsuk-hero--nhsx" style="background-image: url('/assets/S_0419_NHSX_header_F0241829-crop.png');">
    <div class="nhsuk-hero__overlay">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <div class="nhsuk-hero-content nhsuk-hero-content--nhsx">
              <h1 class="nhsuk-u-margin-bottom-3 nhsuk-heading-l">Driving forward the digital transformation of health and social care</h1>
              <span class="nhsuk-hero__arrow nhsuk-hero__arrow--nhsx" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nhsx-section nhsx-u-hero-spacing">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/who-we-are">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Who we are</h3>
                <p class="nhsuk-promo__description">From 1 July, NHSX will bring together teams from the Department of Health and Social Care, NHS England and NHS Improvement.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/what-we-do">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">What we do</h3>
                <p class="nhsuk-promo__description">We’re here to improve health and social care by giving people the technology they need.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/how-we-work">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">How we work</h3>
                <p class="nhsuk-promo__description">Our culture and values.</p>
              </div>
            </a>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
          <div class="nhsuk-promo">
            <a class="nhsuk-promo__link-wrapper" href="/key-information-and-tools">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Key information and tools</h3>
                <p class="nhsuk-promo__description">Standards, guidance and support for digital teams.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nhsx-section nhsx-section--white">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <h2>Video</h2>
          <div class="nhsuk-promo nhsx-promo--grey nhsx-promo--homepage-video">
            <div class="nhsx-embed-container"><iframe src="https://www.youtube.com/embed/3T8qHpz5Cs0" allowfullscreen></iframe></div>
            <div class="nhsuk-promo__content nhsx-content--grey">
              <h3>Introducing NHSX</h3>
              <p class="nhsuk-promo__description">Matt Hancock explains how NHSX will transform the NHS. </p>
            </div>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-half">
          <h2>Get involved</h2>
          <p class="nhsuk-body-l">Please get in touch.</p>
          <p>We are keen to hear from everyone who is affected by the technology we use in health and care, from patients to technologists to carers to clinicians.</p>
          <ul>
            <li>Twitter: <a href="https://twitter.com/NHSX">follow us at @NHSX</a></li>
            <li>Email: <a href="mailto:england.nhsx@nhs.net">england.nhsx@nhs.net</a></li>
          </ul>

          <div class="nhsx-promo-align nhsuk-u-padding-top-6">
            <div class="nhsuk-promo nhsx-promo--grey nhsuk-u-margin-bottom-0">
              <a class="nhsuk-promo__link-wrapper" href="/key-information-and-tools/blogs-and-updates">
                <div class="nhsuk-promo__content nhsx-content--grey">
                  <h3 class="nhsuk-promo__heading">Blogs and updates</h3>
                  <p class="nhsuk-promo__description">Read more about what we're doing.</p>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
