{
  "lang": "en",
  "name": "NHSX Website",
  "short_name": "NHSX",
  "description": "{% if pageDescription %}{{pageDescription}}{% else %}NHSX - a new unit driving forward the digital transformation of health and care.{% endif %}",
  "theme_color": "#003087",
  "background_color": "#003087",
  "start_url": "/",
  "display": "browser",
  "orientation": "portrait",
  "icons": [
    {
      "src": "/nhsuk-frontend/assets/favicons/favicon.png",
      "sizes": "192x192",
      "type": "image/png"
    }
  ]
}
