{% set pageTitle = "Information Governance for health and care professionals" %}
{% set pageDescription = "data protection and corona virus advice" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools/information-governance-guidance">Information governance</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools/information-governance-guidance">Back to Information governance</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Covid-19 Information Governance advice for health and care professionals</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p>The health and social care system is going to face significant pressures due to the Covid-19 outbreak. In the current circumstances it could be more harmful not to share health and care information than to share it. The Information Commissioner has assured NHSX that she cannot envisage a situation where she would take action against a health and care professional clearly trying to deliver care. You can read the statement from the Information Commissioner's Office, alongside their Q&amp;A resource. Health regulators have also published a joint statement.</p>
    <p>Information is critical to support health and social care services, protect public health, research, monitor, track and manage the outbreak and incidence of exposure.  A new <a href="/assets/Final_General_COPI_Notice.pdf">notice</a> has been issued using existing regulations which ensures that when you use confidential patient information for purposes relating to covid-19, you can be confident that you are doing so lawfully.</p>
    <p>We will need to work in different ways from usual and the focus should be what information you share and who you share it with, rather than how you share it.  The following advice sets out some of the tools that you can use to support individual care, share information and communicate with colleagues during this time. This includes communications tools where data is stored outside of the UK.</p>
    <p>This advice is endorsed by the Information Commissioner’s Office, the National Data Guardian and NHS Digital.</p>

    <h3 class="nhsuk-heading-s">Mobile Messaging</h3>
    <p>It is absolutely fine to use mobile messaging to communicate with colleagues and patients/service users as needed. It is also fine to use commercial, off-the-shelf applications such as WhatsApp and Telegram where there is no practical alternative and the benefits outweigh the risk.</p>
    <p>The important thing, as always, is to consider what type of information you are sharing and with whom. And as much as possible limit the use of personal/confidential patient information.</p>


    <h3 class="nhsuk-heading-s">Videoconferencing</h3>
    <p>We encourage the use of videoconferencing to carry out consultations with patients and service users. This could help to reduce the spread of COVID 19. It is fine to use video conferencing tools such as Skype, WhatsApp, Facetime as well as commercial products designed specifically for this purpose.</p>
    <p>The consent of the patient or service user is implied by them accepting the invite and entering the consultation. But you should safeguard personal/confidential patient information in the same way you would with any other consultation.</p>

    <h3 class="nhsuk-heading-s">Homeworking</h3>
    <p>You may well need to work from home - for example, when self-isolating without symptoms.</p>
    <p>If you are working from home and using your own equipment you should check that your internet access is secure (e.g. use a Virtual Private Network and/or if possible avoid public wi-fi) and that any security features are in use.</p>
    <p>If you are taking any physical documents home with you that contain personal/confidential patient information, you should also ensure the security of these documents at your home and when travelling.</p>

    <h3 class="nhsuk-heading-s">Using Your Own Device</h3>
    <p>You can use your own devices to support video conferencing for consultations, mobile messaging and home working where there is no practical alternative.</p>
    <p>Reasonable steps to ensure this is safe include: setting a strong password; using secure channels to communicate e.g. tools/apps that use encryption; and not storing personal/confidential patient information on the device unless absolutely necessary and appropriate security is in place.</p>
    <p>Information should be safely transferred to the appropriate health and care record as soon as it is practical to do so.</p>

    <h3 class="nhsuk-heading-s">Communication between health and social care colleagues</h3>
    <p>It is essential that during the COVID-19 outbreak health and social care professionals are able to talk to each other. <strong>You will need to share appropriate information about the people in your care including with social care</strong>, where possible using secure mail, NHSmail and MS Teams. Where these tools aren’t available you should use this guidance to suggest ways that you can speak to your colleagues.</p>

    <h3 class="nhsuk-heading-s">Further information</h3>
    <p>If your Data Protection Officer or Caldicott Guardian is unsure of appropriate action to take, you can direct Information Governance questions to the <a href="mailto:england.IGPolicyTeam@nhs.net">NHSX IG team</a>.</p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/information-governance-guidance/health-care-professionals">Advice for health and care professionals</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance/social-care-sector">Advice for the social care sector</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance/ig-professionals">Advice for IG professionals</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
