{% set pageTitle = "Information Governance advice for IG Professionals" %}
{% set pageDescription = "data protection and corona virus advice" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools/information-governance-guidance">Information governance</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools/information-governance-guidance">Back to Information governance</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Covid-19 Information Governance advice for IG Professionals</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-heading-m">Legal considerations</h2>
    <p>The legal framework has flexibility when it comes to the processing of information. Information relating to the Covid-19 outbreak should be shared as needed to support individual care and to help tackle the disease through research and planning during the Covid-19 situation.  The focus should be to ensure the risk of damage, harm or distress being caused to individual patients and service users is kept to a minimum and that data is only processed where it is necessary to do so and in an appropriate manner.</p>

    <h3 class="nhsuk-heading-s">Confidential Patient Information/Common law duty of confidentiality</h3>
    <p>The Secretary of State for Health and Social Care has directed NHS Digital to collect and analyse data from providers and other organisations involved in managing the Covid-19 response and then disseminate information to other bodies for the purpose of planning and managing the response. NHS England and NHS Improvement have been given legal notice to support the processing and sharing of information to help the Covid-19 response under Health Service Control of Patient Information Regulations 2002.</p>
    <p>Individual healthcare organisations, Arms Length Bodies (except NHS Digital and NHS England and NHS Improvement which have been separately notified) and Local Authorities have now also been given legal notice under the same regulations to support the processing and sharing of information to help the Covid-19 response. The notice is available <a href="/assets/Final_General_COPI_Notice.pdf">here</a>.</p>
    <p>This is to ensure that confidential patient information can be used and shared appropriately and lawfully for purposes related to the Covid-19 response.</p>
    <p>These Notices will be reviewed on or before 30 September 2020 and may be extended by further notice in writing. If no further notice is sent they will expire on 30 September 2020.</p>
    <p>Data controllers are still required to comply with relevant and appropriate data protection standards and to ensure within reason that they operate within statutory and regulatory boundaries.</p>

    <h3 class="nhsuk-heading-s">General Data Protection Regulation (GDPR)</h3>
    <p>The GDPR allows information to be shared for individual care, planning and research.  Where health and care information (which would be classed as special category data) is shared for either individual care or to help tackle the disease through research and planning then the relevant Article 6 conditions (official authority, compliance with a legal obligation, public interest and on occasions vital interests) and Article 9 conditions (substantial public interest, the delivery of health and care, vital interests or for public health purposes and scientific research) should be relied on as applicable to the situation.</p>
    <p>The <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/principles/>principles (Article 5 of GDPR)</a> should continue to be followed. They form a framework of good information management with the key criteria enabling justification of actions taken. If you are not certain of an issue, such as a relevant retention time, then the law is flexible enough to allow you to revisit the issue once the answer becomes clearer. </p>
    <p>If your organisation is going to process personal/confidential patient information in ways not covered by an existing Data Protection Impact Assessment (DPIA), e.g. using videoconferencing for consultations, then a short high level DPIA should be carried out. The DPIA should set out the activity being proposed; the data protection risks; whether the proposed activity is necessary and proportionate; the mitigating actions that can be put in place and a plan or confirmation that mitigation has been put in place. DPIAs are scalable, and in some instances this might not take more than a couple of pages. The ICO has produced guidance on carrying out DPIAs and a template that you can refer to.  You should also update your privacy notice where data is being processed in new ways.</p>

    <h3 class="nhsuk-heading-s">Further information</h3>
    <p>You can direct further Information Governance questions to the <a href="mailto:england.IGPolicyTeam@nhs.net">NHSX IG team</a>.</p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/information-governance-guidance/health-care-professionals">Advice for health and care professionals</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance/social-care-sector">Advice for the social care sector</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance/ig-professionals">Advice for IG professionals</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
