{% set pageTitle = "Information Governance" %}
{% set pageDescription = "data protection and corona virus advice" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Information Governance</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">Information governance is all about how to manage and share information appropriately.</p>

    <h2 class="nhsuk-heading-m">Covid-19 Information Governance Advice</h2>
    
    <ul>
      <li><a href="/key-information-and-tools/information-governance-guidance/health-care-professionals">Advice for health and care professionals</a></li>
      <li><a href="/key-information-and-tools/information-governance-guidance/social-care-sector">Advice for the social care sector</a></li>
      <li><a href="/key-information-and-tools/information-governance-guidance/ig-professionals">Advice for IG professionals</a></li>
    </ul>

    <p>NHSX is building up information governance resources and information which we will make available here as soon as they are ready. In the meantime, if your Data Protection Officer or Caldicott Guardian is unsure of appropriate action to take, you can direct Information Governance questions to the <a href="mailto:england.IGPolicyTeam@nhs.net">NHSX IG team</a>.</a></p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/tech-plan-for-health-and-care">Tech plan for health and care</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance">Information Governance</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
