{% set pageTitle = "Information Governance" %}
{% set pageDescription = "data protection and corona virus advice" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools">Back to Key information and tools</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Information Governance</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <p class="nhsuk-body-l">Information governance is all about how to manage and share information appropriately.</p>

    <h2 class="nhsuk-heading-m">Covid-19 Information Governance Advice</h2>
    
    <ul>
      <li><a href="/key-information-and-tools/information-governance-guidance/health-care-professionals">Advice for health and care professionals</a></li>
      <li><a href="/key-information-and-tools/information-governance-guidance/social-care-sector">Advice for the social care sector</a></li>
      <li><a href="/key-information-and-tools/information-governance-guidance/ig-professionals">Advice for IG professionals</a></li>
    </ul>

    <h3 class="nhsuk-heading-m">Covid-19 Example Privacy Notice</h3>
    <p>NHSX continues to work closely with the National Data Guardian (NDG) and Information Commissioner's Office (ICO) to ensure a high level of transparency for patients during this period. This <a href="/assets/Covid19 Example Privacy Notice.pdf">example supplementary privacy notice</a> can be used by organisations to inform patients about the ways information is being used as a result of Covid-19.</p>
    
    <h3 class="nhsuk-heading-m">How data is supporting the Covid-19 response</h3>
    <p>You can read current examples of how data is being used to support the Covid-19 response<a href="/key-information-and-tools/information-governance-guidance/how-data-is-supporting-covid19/"> here.</a></p>
    
    <h3 class="nhsuk-heading-m">The use of mobile devices by patients in hospitals</h3>
    <p><a href="/key-information-and-tools/information-governance-guidance/use-of-mobile-devices-by-patients/">This guidance</a> provides advice for patients using mobile devices such as phones, tablets and cameras in acute hospitals. This is particularly important at this time when patients may be isolated from loved ones.</p>
    
    <h3 class="nhsuk-heading-m">COPI Notice - frequently asked questions</h3>
    <p>The Secretary of State for Health and Care has issued a range of Notices which require that data is shared for purposes of Covid-19. Read more about COPI Notices and what they mean <a href="/key-information-and-tools/information-governance-guidance/COPI-notice-FAQs/">here</a>.</p>
        
    <p>NHSX is building up information governance resources and information which we will make available here as soon as they are ready. In the meantime, if your Data Protection Officer or Caldicott Guardian is unsure of appropriate action to take, you can direct Information Governance questions to the <a href="mailto:england.IGPolicyTeam@nhs.net">NHSX IG team</a>.</p>

  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/tech-plan-for-health-and-care">Tech plan for health and care</a></li>
        <li><a href="/key-information-and-tools/apps-and-tools">Apps and tools for patient care</a></li>
        <li><a href="/key-information-and-tools/designing-and-building-products-and-services">Designing and building products and services</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance">Information Governance</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
