{% set pageTitle = "Information Governance for the social care sector" %}
{% set pageDescription = "data protection and corona virus advice" %}

{% extends 'includes/layout.njk' %}

{% block outerBody %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools">Key information and tools</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/key-information-and-tools/information-governance-guidance">Information governance</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/key-information-and-tools/information-governance-guidance">Back to Information governance</a></p>
  </div>
</nav>
{% endblock %}

{% block body %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-u-margin-bottom-5">Covid-19 Information Governance advice for the Social Care Sector</h1>

  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <p>It is essential that during the Covid-19 outbreak carers, social care professionals, and clinicians are able to talk to each other and to the people they care for. You should be mindful of handling people’s information securely, but you need to make sure that you are using the communication available to you (phone, email etc) to clearly and quickly communicate with your local GPs, hospitals, community health services, local authorities, voluntary sector, pharmacists, and health services.</p>
    <p>Under the Health and Social Care (Safety and Quality) Act 2015, it is legal to share information to support a person’s care. For Covid-19, carers, local authorities and social care providers, including care homes and domiciliary organisations, should be sharing information with the people they care for and their local GPs, community health services, hospitals, local authorities, voluntary sector, pharmacists, and health services.</p>
    <p>Use your common sense to do the best thing for your service users and people in your care. The Information Commissioner has said that she can not envisage taking action against a health or care professional clearly trying to act to save lives.</p>
    <p>The important thing, as always, is to consider what type of information you are sharing and with whom. As much as possible limit the use of people’s personal/confidential information.</p>

    <h2 class="nhsuk-heading-m">How you can share information</h2>

    <h3 class="nhsuk-heading-s">Email and Data Security and Protection Toolkit (DSPT)</h3>
    <p>To help communication for Covid-19, Data Security and Protection Toolkit compliance requirements are being relaxed and NHSmail roll-out sped up. For all who have, or get, NHSMail accounts MS Teams access will be switched on.</p>
    <p>NHSX, NHS England and NHS Digital are working to make the process for accrediting secure email services, easier and faster. It is important that social care is able to access secure email for Covid-19 as quickly as possible.</p>

    <h3 class="nhsuk-heading-s">Mobile Messaging</h3>
    <p>It is absolutely fine to use mobile messaging to communicate with colleagues and people in your care as needed. It is also fine to use commercial, off-the-shelf applications such as WhatsApp and Telegram, where there is no practical alternative and the benefits outweigh the risk.</p>
    <p>The important thing, as always, is to consider what type of information you are sharing and with whom. As much as possible limit the use of people’s personal/confidential information.</p>

    <h3 class="nhsuk-heading-s">Videoconferencing</h3>
    <p>We encourage the use of videoconferencing to carry out consultations with people in your care, or meetings with colleagues across social care and health services. This could help to reduce the spread of Covid-19. It is fine to use video conferencing tools such as Skype, WhatsApp or Facetime as well as commercial products designed specifically for this purpose.</p>
    <p>The consent of the person you care for may be implied by them accepting the invite and entering the consultation. But you should safeguard people’s personal/confidential information in the same way you would with any other consultation.</p>

    <h3 class="nhsuk-heading-s">Homeworking</h3>
    <p>You may well need to work from home – for example, when self-isolating without symptoms. 
    <p>If you are working from home and using your own equipment you should check that your internet access is secure (e.g. use a Virtual Private Network and/or if possible avoid public wi-fi) and that any security features are in use.</p>
    <p>If you are taking any physical documents home with you that contain people’s personal/confidential information, you should also ensure the security of these documents at your home and when travelling.</p>

    <h3 class="nhsuk-heading-s">Using Your Own Device</h3>
    <p>You can use your own devices to support video conferencing for consultations, mobile messaging and home working where there is no practical alternative.</p>
    <p>Reasonable steps to ensure this is safe include: setting a strong password; using secure channels to communicate e.g. tools/apps that use encryption; and not storing people’s personal/confidential information on the device unless absolutely necessary and appropriate security is in place.</p>
    <p>Information should be safely transferred to the appropriate health and care record as soon as it is practical to do so.</p>
    
    <h3 class="nhsuk-heading-s">Further information</h3>
    <p>If your Data Protection Officer or Caldicott Guardian is unsure of appropriate action to take, you can direct Information Governance questions to the <a href="mailto:england.IGPolicyTeam@nhs.net">NHSX IG team</a>.</p>
  </div>

  <div class="nhsuk-grid-column-one-third">

    <div class="nhsx-u-border-top">
      <h2 class="nhsuk-heading-m">Key information and tools</h2>
      <ul>
        <li><a href="/key-information-and-tools/information-governance-guidance/health-care-professionals">Advice for health and care professionals</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance/social-care-sector">Advice for the social care sector</a></li>
        <li><a href="/key-information-and-tools/information-governance-guidance/ig-professionals">Advice for IG professionals</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}
